<template>
  <v-container fill-height v-if="loadingData">
    <v-layout row align-center>
      <v-flex xs12 class="text-xs-center">
        <v-progress-circular indeterminate :size="50" :width="7" color="primary"></v-progress-circular><br><br>
        Cargando datos...
      </v-flex>
    </v-layout>
  </v-container>

  <v-container v-else>
    <v-card class="elevation-6">
      <v-card-title>
        <h1 class="title-form">Membresías</h1>

        <v-spacer></v-spacer>
        <v-text-field
          append-icon="search"
          label="Buscar membresía"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="memberships"
        :search="search"
        :rows-per-page-items="[10, 20, 40, {'text': 'Todos', 'value': -1}]"
      >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.dataName }}</td>
        <td>{{ props.item.durationInDays }}</td>
        <td>{{ props.item.price }}</td>
        <td class="justify-center layout px-0">
          <v-tooltip bottom>
            <v-btn icon class="mx-0" slot="activator" @click="onLoadMembership(props.item._id)">
              <v-icon color="primary">remove_red_eye</v-icon>
            </v-btn>
            <span>Ver membresía</span>
          </v-tooltip>

          <v-tooltip bottom>
            <v-btn icon class="mx-0" slot="activator" @click="onEditUser(props.item._id)">
              <v-icon color="primary">edit</v-icon>
            </v-btn>
            <span>Editar membresía</span>
          </v-tooltip>

          <v-tooltip bottom>
            <v-btn icon class="mx-0" slot="activator" @click="openDeleteDialog(props.item._id)">
              <v-icon color="red">delete</v-icon>
            </v-btn>
            <span>Eliminar membresía</span>
          </v-tooltip>

          <v-tooltip bottom>
            <v-btn icon class="mx-0" slot="activator">
              <v-icon color="yellow darken-4">lightbulb_outline</v-icon>
            </v-btn>
            <span>Estado de la membresía</span>
          </v-tooltip>
        </td>
      </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Tu búsqueda de "{{ search }}" no tiene resultados.
        </v-alert>
        <v-alert slot="no-data" :value="true" color="info" icon="info">
          No tienes membresías. Empieza creando una.
        </v-alert>
      </v-data-table>
    </v-card>

    <v-btn
        :color="'blue darken-4'"
        dark
        fab
        fixed
        bottom
        right
        :to="{path: '/memberships/new'}"
      >
        <v-icon>add</v-icon>
      </v-btn>

      <v-dialog v-model="dialog" persistent max-width="400">
        <v-card>
          <v-card-title class="headline">¿Desea eliminar esta membresía?</v-card-title>
          <v-card-text>Esta acción no se puede deshacer.</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-4" :disabled="deletingMembership" flat="flat" @click.native="closeDeleteDialog">Cancelar</v-btn>
            <v-btn
              color="red"
              :disabled="deletingMembership"
              flat="flat"
              @click.native="deleteMembership"
              :loading="deletingMembership"
            >Aceptar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      deleteMembershipId: null,
      dialog: false,
      search: null,
      headers: [
        { text: 'Nombre de la membresía', align: 'left', value: 'dataName' },
        { text: 'Duracion', value: 'durationInDays' },
        { text: 'Precio', value: 'price' },
        { text: 'Acciones', align: 'center', value: 'actions', sortable: false }
      ]
    }),
    name: 'App',
    created () {
      this.$store.dispatch('loadMemberships')
    },
    computed: {
      memberships () {
        this.dialog = false
        return this.$store.getters.loadedMemberships
      },
      deletingMembership () {
        return this.$store.state.deletingMembership
      },
      loadingData () {
        return this.$store.getters.loadingData
      }
    },
    methods: {
      onEditUser (id) {
        this.$router.push('/memberships/edit/' + id)
      },
      onLoadMembership (id) {
        this.$router.push('/memberships/' + id)
      },
      closeDeleteDialog () {
        this.deleteMembershipId = null
        this.dialog = false
      },
      openDeleteDialog (id) {
        this.deleteMembershipId = id
        this.dialog = true
      },
      deleteMembership () {
        this.$store.dispatch('deleteMembership', this.deleteMembershipId)
      }
    }
  }
</script>
