<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 md10 offset-xs0  offset-md1>
        <v-card class="elevation-6">
          <v-card-title>
            <h1 class="gym-advance">{{ loadedMembership.dataName }}</h1>
          </v-card-title>
          <v-layout row>
            <v-flex px-3 xs12>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator">description</v-icon>
                  Descripción
                </v-tooltip>
                {{ loadedMembership.description }}
              </p>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator">card_membership</v-icon>
                  Dias que otorga la membresía
                </v-tooltip>
                {{ loadedMembership.durationInDays }} dias
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator">attach_money</v-icon>
                  Precio
                </v-tooltip>
                {{ loadedMembership.price }}
              </p>
            </v-flex>
          </v-layout>
          <v-card-actions class="footer-view-user">
          <v-spacer></v-spacer>
            <router-link :to="'/memberships/edit/' + loadedMembership._id" tag="button">
              <v-btn color="red" dark flat>Editar
                <v-icon dark right>mode_edit</v-icon>
              </v-btn>
            </router-link>
            <router-link to="/memberships" tag="button">
              <v-btn color="primary" dark flat>Volver
                <v-icon dark right>check_circle</v-icon>
              </v-btn>
            </router-link>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    created () {
      this.$store.dispatch('loadMembership', this.id)
    },
    props: ['id'],
    computed: {
      loadedMembership () {
        return this.$store.state.loadedMembership
      }
    }
  }
</script>

<style>

  .title-view-user {
    color: #125688;
    font-weight: 400;
    font-size: 1.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
  }

  .footer-view-user {
    background-color: #dbdbdb;
  }

</style>
