<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card class="elevation-6">
          <v-container>
            <h1 class="title-form">Nueva membresía</h1>

            <form @submit.prevent="onCreateMembership">
              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="dataName"
                    label="Nombre de la Membresía"
                    id="dataName"
                    v-model="dataName"
                    required
                    ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="description"
                    label="Descripción"
                    id="description"
                    v-model="description"
                    required
                    ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                    :mask="'####'"
                    name="durationInDays"
                    label="Duración en dias"
                    id="durationInDays"
                    v-model="durationInDays"
                    required
                    ></v-text-field>
                </v-flex>
                <v-flex px-2 xs6>
                  <v-text-field
                    :mask="'#########'"
                    prefix="$"
                    name="price"
                    label="Precio"
                    id="price"
                    v-model="price"
                    required
                    ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-checkbox
                    name="status"
                    label="Activar Membresía"
                    id="status"
                    color="blue darken-4"
                    v-model="status"
                  ></v-checkbox>
                </v-flex>
              </v-layout>

              <v-card-actions>
                <v-btn
                  :disabled="!formIsValid"
                  :dark="formIsValid"
                  color=" dark blue darken-4"
                  type="submit"
                >Guardar membresía</v-btn>
                <router-link to="/memberships" tag="button"><v-btn dark color="red">Cancelar</v-btn></router-link>
              </v-card-actions>
            </form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        // datos del formulario
        dataName: '',
        description: '',
        durationInDays: '',
        price: '',
        status: true,
        // fin de datos del formulario
        menu: false
      }
    },
    computed: {
      formIsValid () {
        return this.dataName !== '' && this.description !== '' && this.durationInDays !== '' && this.price !== ''
      }
    },
    methods: {
      onCreateMembership () {
        if (!this.formIsValid) {
          return
        }

        let membershipData = {
          dataName: this.dataName,
          description: this.description,
          durationInDays: this.durationInDays,
          price: this.price,
          status: this.status
        }
        this.$store.dispatch('createMembership', membershipData)
      }
    }
  }
</script>
