<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card class="elevation-6">
          <v-container>
            <form @submit.prevent="onEditUser">
              <h1 class="title-form">Editar Usuario</h1>

              <v-layout row>
                <v-flex xs12>
                        <v-avatar
                          :size="100"
                          class="blue darken-4"
                        >
                          <img v-if="pictureBase || loadedUser.urlPicture" :src="(loadedUser.urlPicture) ? loadedUser.urlPicture : pictureBase">
                          <v-icon v-if="!pictureBase && !loadedUser.urlPicture" dark x-large>face</v-icon>
                        </v-avatar>

                  <v-btn @click="openTakePictureDialog" :loading="uploadingPicture" fab outline color="primary">
                    <v-icon>camera</v-icon>
                  </v-btn>

                  <v-btn v-if="false" :loading="false" fab outline color="primary">
                    <v-icon>file_upload</v-icon>
                  </v-btn>

                  <v-btn v-if="pictureBase || loadedUser.urlPicture" :loading="false" fab outline color="red" @click="clearPictureBase">
                    <v-icon>clear</v-icon>
                  </v-btn>
                  <canvas ref="canvasTemp" id="canvasTemp" width="640" height="480"></canvas>
                  <canvas ref="canvas" id="canvas" width="480" height="480"></canvas>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                  name="fullname"
                  label="Nombre completo"
                  id="fullname"
                  v-model="loadedUser.fullname"
                  required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <h1 class="title-form">Información de contacto</h1>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                  :mask="'phone'"
                  name="mainPhone"
                  label="Teléfono principal"
                  id="mainPhone"
                  v-model="loadedUser.mainPhone"
                  ></v-text-field>
                </v-flex>
                <v-flex px-2 xs6>
                  <v-text-field
                  :mask="'phone'"
                  name="emergencyPhone"
                  label="Teléfono de emergencia"
                  id="emergencyPhone"
                  v-model="loadedUser.emergencyPhone"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <h1 class="title-form">Ubicación</h1>

              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="residenceAddress"
                    label="Dirección de residencia"
                    id="residenceAddress"
                    v-model="loadedUser.residenceAddress"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                  name="workAddress"
                  label="Dirección de trabajo"
                  id="workAddress"
                  v-model="loadedUser.workAddress"
                ></v-text-field>
                </v-flex>
              </v-layout>

              <h1 class="title-form">Extras</h1>

              <v-layout row>
                <v-flex px-2 py-3 xs2>
                  <v-checkbox
                    label="¿Tiene seguro?"
                    v-model="loadedUser.haveInsurancePolicy"
                    color="blue darken-4"
                  ></v-checkbox>
                </v-flex>
                <v-flex px-2 xs5>
                  <v-text-field
                    name="nameInsurancePolicy"
                    label="Nombre del seguro"
                    :disabled="!loadedUser.haveInsurancePolicy"
                    id="nameInsurancePolicy"
                    v-model="loadedUser.nameInsurancePolicy"
                    ></v-text-field>
                </v-flex>
                <v-flex px-2 xs5>
                  <v-text-field
                    :mask="'##########'"
                    name="numberLifeInsurance"
                    label="Número de poliza"
                    id="numberLifeInsurance"
                    :disabled="!loadedUser.haveInsurancePolicy"
                    v-model="loadedUser.numberLifeInsurance"
                    ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="observations"
                    label="Observaciones"
                    id="observations"
                    v-model="loadedUser.observations"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-checkbox
                    label="Activar Usuario"
                    v-model="loadedUser.status"
                    color="blue darken-4"
                  ></v-checkbox>
                </v-flex>
              </v-layout>

              <v-card-actions>
                <v-btn :dark="formIsValid && !uploadingPicture" color="blue darken-4" type="submit" :loading="uploadingPicture" :disabled="!formIsValid || uploadingPicture">Guardar cambios</v-btn>
                <router-link to="/users" tag="button"><v-btn dark color="red">Cancelar</v-btn></router-link>
              </v-card-actions>
            </form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>

    <v-dialog v-model="dialogTakePictureBase" persistent max-width="640">
      <v-card>
        <v-card-title class="headline">Capturar foto de perfil</v-card-title>
        <v-card-text>
          <div v-show="!pictureTemp" class="cam-div"><video ref="video" id="video" height="360" autoplay></video></div>
          <div v-show="pictureTemp" class="cam-div"><img id="pictureTemp" :src="pictureTemp" height="360"></img></div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-show="!pictureTemp" color="red" flat="flat" @click.native="closeTakePictureDialog">Cancelar</v-btn>
          <v-btn
            v-show="!pictureTemp"
            color="blue darken-4"
            flat="flat"
            @click.native="takePictureTemp"
          >Tomar foto</v-btn>

          <v-btn v-show="pictureTemp" color="red" flat="flat" @click.native="clearPictureTemp">Tomar otra</v-btn>
          <v-btn
            v-show="pictureTemp"
            color="blue darken-4"
            flat="flat"
            @click.native="takePictureBase"
          >Subir foto</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      // datos de la foto
      video: null,
      canvas: null,
      canvasTemp: null,
      pictureBase: null,
      pictureTemp: null,
      stream: null,
      // otros datos
      dialogTakePictureBase: false
    }),
    mounted () {
      this.video = this.$refs.video
      this.canvas = this.$refs.canvas
      this.canvasTemp = this.$refs.canvasTemp
    },
    created () {
      this.$store.dispatch('loadUser', this.id)
      this.user = this.loadedUser
    },
    props: ['id'],
    computed: {
      formIsValid () {
        return this.fullname !== ''
      },
      loadedUser () {
        return this.$store.state.loadedUser
      },
      uploadingPicture () {
        return this.$store.getters.uploadingPicture
      }
    },
    methods: {
      base64ToBlob (base64, mime) {
        mime = mime || ''
        var sliceSize = 1024
        var byteChars = window.atob(base64)
        var byteArrays = []

        for (var offset = 0, len = byteChars.length; offset < len; offset += sliceSize) {
          var slice = byteChars.slice(offset, offset + sliceSize)

          var byteNumbers = new Array(slice.length)
          for (var i = 0; i < slice.length; i++) {
            byteNumbers[i] = slice.charCodeAt(i)
          }

          var byteArray = new Uint8Array(byteNumbers)

          byteArrays.push(byteArray)
        }

        return new Blob(byteArrays, {type: mime})
      },
      clearPictureTemp () {
        this.pictureTemp = null
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true }).then(stream => {
            this.stream = stream
            this.video.src = window.URL.createObjectURL(this.stream)
            this.video.play()
          })
        }
      },
      clearPictureBase () {
        this.pictureBase = null
        this.loadedUser.urlPicture = null
        this.$store.dispatch('clearUploadedPicture')
      },
      openTakePictureDialog () {
        this.dialogTakePictureBase = true
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true }).then(stream => {
            this.stream = stream
            this.video.src = window.URL.createObjectURL(this.stream)
            this.video.play()
          })
        }
      },
      closeTakePictureDialog () {
        if (this.stream !== null) {
          let track = this.stream.getTracks()[0]  // if only one media track
          track.stop()
          this.stream = null
        }

        this.dialogTakePictureBase = false
      },
      takePictureBase () {
        this.canvas.getContext('2d').drawImage(this.canvasTemp, 80, 0, 480, 480, 0, 0, 480, 480)
        this.pictureBase = this.canvas.toDataURL('image/png')
        let base64ImageContent = this.pictureBase.replace(/^data:image\/(png|jpg);base64,/, '')
        let pictureBlob = this.base64ToBlob(base64ImageContent, 'image/png')
        this.$store.dispatch('uploadPicture', pictureBlob)
        this.pictureTemp = null
        this.loadedUser.urlPicture = null
        this.dialogTakePictureBase = false
      },
      takePictureTemp () {
        this.canvasTemp.getContext('2d').drawImage(this.video, 0, 0, 640, 480)
        this.pictureTemp = this.canvasTemp.toDataURL('image/png')
        let track = this.stream.getTracks()[0]  // if only one media track
        track.stop()
        this.stream = null
      },
      onEditUser () {
        let userData = {
          _id: this.loadedUser._id,
          emergencyPhone: this.loadedUser.emergencyPhone,
          fullname: this.loadedUser.fullname,
          haveInsurancePolicy: this.loadedUser.haveInsurancePolicy,
          mainPhone: this.loadedUser.mainPhone,
          nameInsurancePolicy: (this.loadedUser.haveInsurancePolicy) ? this.loadedUser.nameInsurancePolicy : null,
          numberLifeInsurance: (this.loadedUser.haveInsurancePolicy) ? this.loadedUser.numberLifeInsurance : null,
          observations: this.loadedUser.observations,
          residenceAddress: this.loadedUser.residenceAddress,
          status: this.loadedUser.status,
          urlPicture: this.loadedUser.urlPicture,
          workAddress: this.loadedUser.workAddress
        }
        this.$store.dispatch('editUser', userData)
      }
    }
  }
</script>

<style>
  #video {
    max-width: 480px;
  }
  #canvas {
    display: none;
  }

  #canvasTemp {
    display: none;
  }

  .cam-div {
    background: #000;
    margin: 0 auto;
    width: 480px;
  }
</style>
