dificultad<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card>
          <v-card-text>
            <h1 class="title-form">Condiciones medicas</h1>

            ¿Ha tenido o tiene alguna lesión osea?
            <v-layout row>
              <v-flex px-2 xs6 sm4>
                <v-radio-group v-model="medicalConditions.lesionOsea.value" row>
                  <v-radio :color="'blue darken-4'" label="Si" :value="true"></v-radio>
                  <v-radio :color="'blue darken-4'" label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-flex>

              <v-flex px-2 xs6 sm8 v-if="medicalConditions.lesionOsea.value">
                <v-text-field v-model="medicalConditions.lesionOsea.description" label="Describa su lesión"></v-text-field>
              </v-flex>
            </v-layout>

            ¿Ha tenido o tiene alguna lesión muscular?
            <v-layout row>
              <v-flex px-2 xs6 sm4>
                <v-radio-group v-model="medicalConditions.lesionMuscular.value" row>
                  <v-radio :color="'blue darken-4'" label="Si" :value="true"></v-radio>
                  <v-radio :color="'blue darken-4'" label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-flex>

              <v-flex px-2 xs6 sm8 v-if="medicalConditions.lesionMuscular.value">
                <v-text-field v-model="medicalConditions.lesionMuscular.description" label="Describa su lesión"></v-text-field>
              </v-flex>
            </v-layout>

            ¿Padece alguna enfermedad cardiovascular?
            <v-layout row>
              <v-flex px-2 xs6 sm4>
                <v-radio-group v-model="medicalConditions.enfermedadCardiovascular.value" row>
                  <v-radio :color="'blue darken-4'" label="Si" :value="true"></v-radio>
                  <v-radio :color="'blue darken-4'" label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-flex>

              <v-flex px-2 xs6 sm8 v-if="medicalConditions.enfermedadCardiovascular.value">
                <v-text-field v-model="medicalConditions.enfermedadCardiovascular.description" label="Describa su padecimiento"></v-text-field>
              </v-flex>
            </v-layout>

            ¿Ha practicado o practica alguna actividad deportiva?
            <v-layout row>
              <v-flex px-2 xs6 sm4>
                <v-radio-group v-model="medicalConditions.actividadDeportiva.value" row>
                  <v-radio :color="'blue darken-4'" label="Si" :value="true"></v-radio>
                  <v-radio :color="'blue darken-4'" label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-flex>

              <v-flex px-2 xs6 sm8 v-if="medicalConditions.actividadDeportiva.value">
                <v-text-field v-model="medicalConditions.actividadDeportiva.description" label="Indique cual tipo de actividad"></v-text-field>
              </v-flex>
            </v-layout>

            ¿Se asfixia con facilidad al realizar ejercicio físico?
            <v-layout row>
              <v-flex px-2 xs6 sm4>
                <v-radio-group v-model="medicalConditions.asfixiaConFacilidad" row>
                  <v-radio :color="'blue darken-4'" label="Si" :value="true"></v-radio>
                  <v-radio :color="'blue darken-4'" label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-flex>
            </v-layout>

            ¿Es usted asmático/a?
            <v-layout row>
              <v-flex px-2 xs6 sm4>
                <v-radio-group v-model="medicalConditions.asmatico" row>
                  <v-radio :color="'blue darken-4'" label="Si" :value="true"></v-radio>
                  <v-radio :color="'blue darken-4'" label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-flex>
            </v-layout>

            ¿Es usted epiléctico/a?
            <v-layout row>
              <v-flex px-2 xs6 sm4>
                <v-radio-group v-model="medicalConditions.epilectico" row>
                  <v-radio :color="'blue darken-4'" label="Si" :value="true"></v-radio>
                  <v-radio :color="'blue darken-4'" label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-flex>
            </v-layout>

            ¿Es usted diabetico/a?
            <v-layout row>
              <v-flex px-2 xs6 sm4>
                <v-radio-group v-model="medicalConditions.diabetico" row>
                  <v-radio :color="'blue darken-4'" label="Si" :value="true"></v-radio>
                  <v-radio :color="'blue darken-4'" label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-flex>
            </v-layout>

            ¿Es usted fumador/a?
            <v-layout row>
              <v-flex px-2 xs6 sm4>
                <v-radio-group v-model="medicalConditions.fumador" row>
                  <v-radio :color="'blue darken-4'" label="Si" :value="true"></v-radio>
                  <v-radio :color="'blue darken-4'" label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-flex>
            </v-layout>

            ¿Esta embarazada o sospecha de estado?
            <v-layout row>
              <v-flex px-2 xs6 sm4>
                <v-radio-group v-model="medicalConditions.embarazada" row>
                  <v-radio :color="'blue darken-4'" label="Si" :value="true"></v-radio>
                  <v-radio :color="'blue darken-4'" label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-flex>
            </v-layout>

            ¿Padece de anemia?
            <v-layout row>
              <v-flex px-2 xs6 sm4>
                <v-radio-group v-model="medicalConditions.anemia" row>
                  <v-radio :color="'blue darken-4'" label="Si" :value="true"></v-radio>
                  <v-radio :color="'blue darken-4'" label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-flex>
            </v-layout>

            ¿Ha estado inscrito en algún gimnasio o instalación deportiva?
            <v-layout row>
              <v-flex px-2 xs6 sm4>
                <v-radio-group v-model="medicalConditions.inscripcionAnterior" row>
                  <v-radio :color="'blue darken-4'" label="Si" :value="true"></v-radio>
                  <v-radio :color="'blue darken-4'" label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-flex>
            </v-layout>

            Indique si ha tenido los siguientes sintomas al realizar actividad fisica
            <v-layout row>
                <v-flex xs12 sm4 md4>
                  <v-checkbox
                    label="Mareos"
                    v-model="medicalConditions.mareos"
                    color="blue darken-4"
                    hide-details
                  ></v-checkbox>
                  <v-checkbox
                    label="Desmayos"
                    v-model="medicalConditions.desmayos"
                    color="blue darken-4"
                    hide-details
                  ></v-checkbox>
                </v-flex>

                <v-flex xs12 sm4 md4>
                  <v-checkbox
                    label="Nauceas"
                    v-model="medicalConditions.nauceas"
                    color="blue darken-4"
                    hide-details
                  ></v-checkbox>
                  <v-checkbox
                    label="Dificultad para respirar"
                    v-model="medicalConditions.dificultadRespiratoria"
                    color="blue darken-4"
                    hide-details
                  ></v-checkbox>
                </v-flex>
            </v-layout>
          </v-card-text>

          <v-card-actions>
            <v-btn color="blue darken-4" dark @click.native="createMedicalConditions()">Actualizar datos</v-btn>
            <router-link :to="'/users/' + id" tag="button"><v-btn dark color="red">Cancelar</v-btn></router-link>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data: () => ({}),
    created () {
      this.$store.dispatch('loadUser', this.id)
    },
    props: ['id'],
    computed: {
      medicalConditions () {
        return this.$store.getters.loadedUser.medicalConditions
      }
    },
    methods: {
      createMedicalConditions: function () {
        let data = {
          _id: this.id,
          medicalConditions: {
            created: true,
            lesionOsea: {
              value: this.medicalConditions.lesionOsea.value,
              description: (this.medicalConditions.lesionOsea.value) ? this.medicalConditions.lesionOsea.description : null
            },
            lesionMuscular: {
              value: this.medicalConditions.lesionMuscular.value,
              description: (this.medicalConditions.lesionMuscular.value) ? this.medicalConditions.lesionMuscular.description : null
            },
            enfermedadCardiovascular: {
              value: this.medicalConditions.enfermedadCardiovascular.value,
              description: (this.medicalConditions.enfermedadCardiovascular.value) ? this.medicalConditions.enfermedadCardiovascular.description : null
            },
            actividadDeportiva: {
              value: this.medicalConditions.actividadDeportiva.value,
              description: (this.medicalConditions.actividadDeportiva.value) ? this.medicalConditions.actividadDeportiva.description : null
            },
            asfixiaConFacilidad: this.medicalConditions.asfixiaConFacilidad,
            asmatico: this.medicalConditions.asmatico,
            epilectico: this.medicalConditions.epilectico,
            diabetico: this.medicalConditions.diabetico,
            fumador: this.medicalConditions.fumador,
            embarazada: this.medicalConditions.embarazada,
            anemia: this.medicalConditions.anemia,
            inscripcionAnterior: this.medicalConditions.inscripcionAnterior,
            mareos: this.medicalConditions.mareos,
            desmayos: this.medicalConditions.desmayos,
            nauceas: this.medicalConditions.nauceas,
            dificultadRespiratoria: this.medicalConditions.dificultadRespiratoria
          }
        }

        this.$store.dispatch('updateMedicalConditions', data)
      }
    }
  }
</script>
