<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card class="elevation-6">
          <v-container>
            <form @submit.prevent="onCreateUser">
              <h1 class="title-form">Nuevo Usuario</h1>

              <v-layout row>
                <v-flex xs12>
                        <v-avatar
                          :size="100"
                          class="blue darken-4"
                        >
                          <img v-if="pictureBase" :src="pictureBase">
                          <v-icon v-if="!pictureBase" dark x-large>face</v-icon>
                        </v-avatar>

                  <v-btn @click="openTakePictureDialog" :loading="uploadingPicture" fab outline color="primary">
                    <v-icon>camera</v-icon>
                  </v-btn>

                  <v-btn v-if="false" :loading="false" fab outline color="primary">
                    <v-icon>file_upload</v-icon>
                  </v-btn>

                  <v-btn v-if="pictureBase" :loading="false" fab outline color="red" @click="clearPictureBase">
                    <v-icon>clear</v-icon>
                  </v-btn>
                  <canvas ref="canvasTemp" id="canvasTemp" width="640" height="480"></canvas>
                  <canvas ref="canvas" id="canvas" width="480" height="480"></canvas>
                </v-flex>
              </v-layout>

                <v-layout row>
                  <v-flex px-2 xs6>
                    <v-text-field
                    name="fullname"
                    label="Nombre completo"
                    id="fullname"
                    v-model="fullname"
                    required
                    ></v-text-field>
                  </v-flex>

                  <v-flex px-2 xs6>
                    <v-text-field
                    name="username"
                    label="Nombre de usuario"
                    id="username"
                    v-model="username"
                    required
                  ></v-text-field>
                  </v-flex>
                </v-layout>

              <v-layout row>
                <v-flex px-2 xs4>
                  <v-menu
                    ref="menu"
                    lazy
                    :close-on-content-click="false"
                    v-model="menu"
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      label="Fecha de nacimiento"
                      v-model="getBirthdate"
                      readonly
                      required
                    ></v-text-field>
                    <v-date-picker
                      :first-day-of-week="1"
                      ref="picker"
                      v-model="birthday"
                      @change="save"
                      locale="es-es"
                      min="1930-01-01"
                      :max="new Date().toISOString().substr(0, 10)"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex px-2 xs4>
                  <v-select
                    label="Tipo de documento"
                    bottom
                    :items="documentTypeItems"
                    v-model="documentType"
                    required
                  ></v-select>
                </v-flex>
                <v-flex px-2 xs4>
                  <v-text-field
                    :mask="'##########'"
                    name="documentNumber"
                    label="Número de documento"
                    id="documentNumber"
                    v-model="documentNumber"
                    required
                    ></v-text-field>
                </v-flex>
              </v-layout>

              <h1 class="title-form">Información de contacto</h1>

              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="email"
                    label="Correo electrónico"
                    v-model="email"
                    :rules="[rules.required, rules.email]"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                  :mask="'phone'"
                  name="mainPhone"
                  label="Teléfono principal"
                  id="mainPhone"
                  v-model="mainPhone"
                  ></v-text-field>
                </v-flex>
                <v-flex px-2 xs6>
                  <v-text-field
                  :mask="'phone'"
                  name="emergencyPhone"
                  label="Teléfono de emergencia"
                  id="emergencyPhone"
                  v-model="emergencyPhone"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <h1 class="title-form">Ubicación</h1>

              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="residenceAddress"
                    label="Dirección de residencia"
                    id="residenceAddress"
                    v-model="residenceAddress"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                  name="workAddress"
                  label="Dirección de trabajo"
                  id="workAddress"
                  v-model="workAddress"
                ></v-text-field>
                </v-flex>
              </v-layout>

              <h1 class="title-form">Extras</h1>

              <v-layout row>
                <v-flex px-2 py-3 xs2>
                  <v-checkbox
                    label="¿Tiene seguro?"
                    v-model="haveInsurancePolicy"
                    color="blue darken-4"
                  ></v-checkbox>
                </v-flex>
                <v-flex px-2 xs5>
                  <v-text-field
                    name="nameInsurancePolicy"
                    label="Nombre del seguro"
                    :disabled="!haveInsurancePolicy"
                    id="nameInsurancePolicy"
                    v-model="nameInsurancePolicy"
                    ></v-text-field>
                </v-flex>
                <v-flex px-2 xs5>
                  <v-text-field
                    :mask="'##########'"
                    name="numberLifeInsurance"
                    label="Número de poliza"
                    id="numberLifeInsurance"
                    :disabled="!haveInsurancePolicy"
                    v-model="numberLifeInsurance"
                    ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="observations"
                    label="Observaciones"
                    id="observations"
                    v-model="observations"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6 v-if="loadedGyms.length > 0">
                  <v-select
                    label="Gimnasio"
                    autocomplete
                    :loading="loadingGyms"
                    cache-items
                    required
                    :items="itemsGymsAutocomplete"
                    :item-text="'dataName'"
                    :item-value="'_id'"
                    :no-data-text="'No hay resultados'"
                    :rules="[() => fkIdGym != null || 'Tiene que seleccionar un gimnasio']"
                    :search-input.sync="searchGym"
                    v-model="fkIdGym"
                  ></v-select>
                </v-flex>
                <v-flex px-2 xs6 v-else>
                  <div class="text-xs-center">
                    <v-btn round color="blue darken-4" dark router large :to="{path: '/gyms/new'}">Registrar un gimnasio</v-btn>
                  </div>
                </v-flex>

                <v-flex px-2 xs6>
                  <v-select
                    label="Rol del usuario"
                    bottom
                    :items="rolesItems"
                    v-model="role"
                    required
                  ></v-select>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-checkbox
                    label="Activar Usuario"
                    v-model="status"
                    color="blue darken-4"
                  ></v-checkbox>
                </v-flex>
              </v-layout>

              <!-- <v-fade-transition>
                <v-layout row>
                  <v-flex px-2 xs6 v-show="status">
                    <v-checkbox
                      label="Activar Usuario"
                      v-model="status"
                      color="blue darken-4"
                    ></v-checkbox>
                  </v-flex>
                </v-layout>
              </v-fade-transition> -->


              <v-card-actions>
                <v-btn :dark="formIsValid && !uploadingPicture" color="blue darken-4" type="submit" :loading="uploadingPicture" :disabled="!formIsValid || uploadingPicture">Guardar usuario</v-btn>
                <router-link to="/users" tag="button"><v-btn dark color="red">Cancelar</v-btn></router-link>
              </v-card-actions>
            </form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>

    <v-dialog v-model="dialogTakePictureBase" persistent max-width="640">
      <v-card>
        <v-card-title class="headline">Capturar foto de perfil</v-card-title>
        <v-card-text>
          <div v-show="!pictureTemp" class="cam-div"><video ref="video" id="video" height="360" autoplay></video></div>
          <div v-show="pictureTemp" class="cam-div"><img id="pictureTemp" :src="pictureTemp" height="360"></img></div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-show="!pictureTemp" color="red" flat="flat" @click.native="closeTakePictureDialog">Cancelar</v-btn>
          <v-btn
            v-show="!pictureTemp"
            color="blue darken-4"
            flat="flat"
            @click.native="takePictureTemp"
          >Tomar foto</v-btn>

          <v-btn v-show="pictureTemp" color="red" flat="flat" @click.native="clearPictureTemp">Tomar otra</v-btn>
          <v-btn
            v-show="pictureTemp"
            color="blue darken-4"
            flat="flat"
            @click.native="takePictureBase"
          >Subir foto</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  import moment from 'moment'

  export default {
    data: () => ({
      // datos de la foto
      video: null,
      canvas: null,
      canvasTemp: null,
      pictureBase: null,
      pictureTemp: null,
      stream: null,
      // datos del formulario
      birthday: null,
      documentNumber: '',
      documentType: null,
      email: '',
      emergencyPhone: '',
      fullname: '',
      haveInsurancePolicy: false,
      mainPhone: '',
      nameInsurancePolicy: '',
      numberLifeInsurance: '',
      observations: '',
      residenceAddress: '',
      role: null,
      status: true,
      username: '',
      workAddress: '',
      // fin de datos del formulario
      date: null,
      dialogTakePictureBase: false,
      fkIdGym: '',
      itemsGymsAutocomplete: [],
      loadingGyms: false,
      searchGym: null,
      menu: false,
      fits: false,
      documentTypeItems: [
        { text: 'Seleccione', disabled: true },
        { text: 'Documento de identidad', value: 'dni' },
        { text: 'Pasaporte', value: 'passport' },
        { text: 'Driver license', value: 'licencia' }
      ],
      rolesItems: [
        { text: 'Seleccione', disabled: true },
        { text: 'Dueño', value: 'owner' },
        { text: 'Cliente', value: 'customer' },
        { text: 'Empleado', value: 'employed' },
        { text: 'Instructor', value: 'instructor' }
      ],
      rules: {
        required: (value) => !!value || 'Required.',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      }
    }),
    computed: {
      formIsValid () {
        return this.birthday !== null && this.documentNumber !== '' && this.documentType !== null && this.email !== '' && this.fkIdGym !== '' && this.fullname !== '' && this.role !== null && this.username !== ''
      },
      getBirthdate () {
        if (this.birthday) {
          return moment(this.birthday).format('DD/MM/YYYY')
        }
        return this.birthday
      },
      loadedGyms () {
        return this.$store.getters.loadedGyms
      },
      uploadingPicture () {
        return this.$store.getters.uploadingPicture
      }
    },
    created () {
      this.$store.dispatch('loadGyms')
    },
    mounted () {
      this.video = this.$refs.video
      this.canvas = this.$refs.canvas
      this.canvasTemp = this.$refs.canvasTemp
    },
    watch: {
      menu (val) {
        val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
      },
      role (val) {
        if (val === 'customer') {
          this.fits = true
        } else {
          this.fits = false
        }
      },
      searchGym (val) {
        val && this.queryGymsSelections(val)
      }
    },
    methods: {
      base64ToBlob (base64, mime) {
        mime = mime || ''
        var sliceSize = 1024
        var byteChars = window.atob(base64)
        var byteArrays = []

        for (var offset = 0, len = byteChars.length; offset < len; offset += sliceSize) {
          var slice = byteChars.slice(offset, offset + sliceSize)

          var byteNumbers = new Array(slice.length)
          for (var i = 0; i < slice.length; i++) {
            byteNumbers[i] = slice.charCodeAt(i)
          }

          var byteArray = new Uint8Array(byteNumbers)

          byteArrays.push(byteArray)
        }

        return new Blob(byteArrays, {type: mime})
      },
      clearPictureTemp () {
        this.pictureTemp = null
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true }).then(stream => {
            this.stream = stream
            this.video.src = window.URL.createObjectURL(this.stream)
            this.video.play()
          })
        }
      },
      clearPictureBase () {
        this.pictureBase = null
        this.$store.dispatch('clearUploadedPicture')
      },
      openTakePictureDialog () {
        this.dialogTakePictureBase = true
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true }).then(stream => {
            this.stream = stream
            this.video.src = window.URL.createObjectURL(this.stream)
            this.video.play()
          })
        }
      },
      closeTakePictureDialog () {
        if (this.stream !== null) {
          let track = this.stream.getTracks()[0]  // if only one media track
          track.stop()
          this.stream = null
        }

        this.dialogTakePictureBase = false
      },
      takePictureBase () {
        this.canvas.getContext('2d').drawImage(this.canvasTemp, 80, 0, 480, 480, 0, 0, 480, 480)
        this.pictureBase = this.canvas.toDataURL('image/png')
        let base64ImageContent = this.pictureBase.replace(/^data:image\/(png|jpg);base64,/, '')
        let pictureBlob = this.base64ToBlob(base64ImageContent, 'image/png')
        this.$store.dispatch('uploadPicture', pictureBlob)
        this.pictureTemp = null
        this.dialogTakePictureBase = false
      },
      takePictureTemp () {
        this.canvasTemp.getContext('2d').drawImage(this.video, 0, 0, 640, 480)
        this.pictureTemp = this.canvasTemp.toDataURL('image/png')
        let track = this.stream.getTracks()[0]  // if only one media track
        track.stop()
        this.stream = null
      },
      onCreateUser () {
        if (!this.formIsValid) {
          return
        }
        let birthdayData = moment(this.birthday)

        let userData = {
          birthday: birthdayData.valueOf(),
          documentNumber: this.documentNumber,
          documentType: this.documentType,
          email: this.email,
          emergencyPhone: this.emergencyPhone,
          fkIdGym: this.fkIdGym,
          fullname: this.fullname,
          haveInsurancePolicy: this.haveInsurancePolicy,
          mainPhone: this.mainPhone,
          nameInsurancePolicy: (this.haveInsurancePolicy) ? this.nameInsurancePolicy : null,
          numberLifeInsurance: (this.haveInsurancePolicy) ? this.numberLifeInsurance : null,
          observations: this.observations,
          residenceAddress: this.residenceAddress,
          role: this.role,
          status: this.status,
          username: this.username,
          workAddress: this.workAddress
        }

        this.$store.dispatch('createUser', userData)
      },
      queryGymsSelections (v) {
        this.loadingGyms = true
        // Simulated ajax query
        this.itemsGymsAutocomplete = this.loadedGyms.filter(e => {
          return (e.dataName || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
        })
        this.loadingGyms = false
      },
      save (date) {
        this.$refs.menu.save(date)
      }
    }
  }
</script>

<style>
  #video {
    max-width: 480px;
  }
  #canvas {
    display: none;
  }

  #canvasTemp {
    display: none;
  }

  .cam-div {
    background: #000;
    margin: 0 auto;
    width: 480px;
  }
</style>
