<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 md10 offset-xs0  offset-md1>
        <v-card class="elevation-6">
          <v-card-title>
            <v-avatar
              :size="100"
              class="blue darken-4"
            >
              <img v-if="loadedUser.urlPicture" :src="loadedUser.urlPicture">
              <v-icon v-if="!loadedUser.urlPicture" dark x-large>face</v-icon>
            </v-avatar>
            <h1 class="gym-advance ml-3">{{ loadedUser.fullname }}</h1>
          </v-card-title>
          <v-layout row>
            <v-flex px-3 xs10>
              <h3 class="title-view-user">Información personal</h3>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator" style="cursor: pointer">person</v-icon>
                  Usuario
                </v-tooltip>
                {{ loadedUser.username }}
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator" style="cursor: pointer">cake</v-icon>
                  Cumpleaños
                </v-tooltip>
                {{ getFormattedDate }}
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator" style="cursor: pointer">fingerprint</v-icon>
                  Identidad
                </v-tooltip>
                <span style="font-weight: bold;">{{ getIdentity }}</span>{{ loadedUser.documentNumber }}
              </p>
            </v-flex>

          </v-layout>

          <v-layout row>
            <v-flex px-3 xs10>
              <h3 class="title-view-user">Información de contacto</h3>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs10>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator" style="cursor: pointer">email</v-icon>
                  Correo
                </v-tooltip>
                {{ loadedUser.email }}
              </p>
            </v-flex>

            <v-flex px-3 xs10>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator" style="cursor: pointer">phone</v-icon>
                  Teléfono principal
                </v-tooltip>
                {{ loadedUser.mainPhone }}
              </p>
            </v-flex>

            <v-flex px-3 xs10>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator" style="cursor: pointer">error</v-icon>
                  Teléfono de emergencia
                </v-tooltip>
                {{ loadedUser.emergencyPhone }}
              </p>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs10>
              <h3 class="title-view-user">Ubicación</h3>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs10>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator" style="cursor: pointer">home</v-icon>
                  Dirección de residencia
                </v-tooltip>
                {{ loadedUser.residenceAddress }}
              </p>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex px-3 xs10>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator" style="cursor: pointer">business</v-icon>
                  Dirección de trabajo
                </v-tooltip>
                {{ loadedUser.workAddress }}
              </p>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs10>
              <h3 class="title-view-user">Extras</h3>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex px-3 xs4 v-if="loadedUser.haveInsurancePolicy">
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator" style="cursor: pointer">security</v-icon>
                  Nombre del seguro de vida
                </v-tooltip>
                {{ loadedUser.nameInsurancePolicy }}
              </p>
            </v-flex>

            <v-flex px-3 xs4 v-if="loadedUser.haveInsurancePolicy">
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator" style="cursor: pointer">filter_9</v-icon>
                  Identificación del seguro
                </v-tooltip>
                {{ loadedUser.numberLifeInsurance }}
              </p>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs10>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator" style="cursor: pointer">assignment_late</v-icon>
                  Observaciones
                </v-tooltip>
                {{ loadedUser.observations }}
              </p>
            </v-flex>
          </v-layout>

          <v-card-actions class="footer-view-user">
          <v-spacer></v-spacer>
            <router-link :to="'/users/medicalconditions/' + loadedUser._id" tag="button" v-if="!loadedUser.medicalConditions.created">
              <v-btn color="red" dark flat>Condiciones médicas
                <v-icon dark right>local_hospital</v-icon>
              </v-btn>
            </router-link>

            <router-link :to="'/users/edit/' + loadedUser._id" tag="button">
              <v-btn color="red" dark flat>Editar
                <v-icon dark right>mode_edit</v-icon>
              </v-btn>
            </router-link>

            <router-link to="/users" tag="button">
              <v-btn color="primary" dark flat>Volver
                <v-icon dark right>check_circle</v-icon>
              </v-btn>
            </router-link>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>

    <v-layout row mt-3 v-if="loadedUser.medicalConditions.created">
      <v-flex xs12 md10 offset-xs0  offset-md1>
        <v-card class="elevation-6">
          <v-card-title>
            <h1 class="gym-advance">Información adicional</h1>
          </v-card-title>

          <v-layout row>
            <v-flex px-3 xs10>
              <h3 class="title-view-user">Condiciones médicas</h3>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.lesionOsea.value) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.lesionOsea.value) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.lesionOsea.value) ? loadedUser.medicalConditions.lesionOsea.description : 'El usuario no padece de una lesión osea' }}
                </v-tooltip>
                Lesión osea
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.lesionMuscular.value) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.lesionMuscular.value) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.lesionMuscular.value) ? loadedUser.medicalConditions.lesionMuscular.description : 'El usuario no padece de una lesión muscular' }}
                </v-tooltip>
                Accidente muscular
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.enfermedadCardiovascular.value) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.enfermedadCardiovascular.value) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.enfermedadCardiovascular.value) ? loadedUser.medicalConditions.enfermedadCardiovascular.description : 'El usuario no padece de una enfermedad cardiovascular' }}
                </v-tooltip>
                Enfermedad cardiovascular
              </p>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.asmatico) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.asmatico) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.asmatico) ? 'El usuario padece de asma' : 'El usuario no padece de asma' }}
                </v-tooltip>
                Asma
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.epilectico) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.epilectico) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.epilectico) ? 'El usuario padece de epilépsia' : 'El usuario no padece de epilépsia' }}
                </v-tooltip>
                Epilépsia
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.diabetico) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.diabetico) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.diabetico) ? 'El usuario padece de diabetes' : 'El usuario no padece de diabetes' }}
                </v-tooltip>
                Diabetes
              </p>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.fumador) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.fumador) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.fumador) ? 'El usuario es fumador' : 'El usuario no es fumador' }}
                </v-tooltip>
                Fumador
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.embarazada) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.embarazada) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.embarazada) ? 'El usuario está o sospecha de estado' : 'El usuario no tiene un embarazo' }}
                </v-tooltip>
                Embarazo
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.anemia) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.anemia) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.anemia) ? 'El usuario padece de anemia' : 'El usuario no padece de anemia' }}
                </v-tooltip>
                Anemia
              </p>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.mareos) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.mareos) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.mareos) ? 'El usuario sufre de mareos cuando realiza actividad física' : 'El usuario no presenta mareos cuando realiza actividad física' }}
                </v-tooltip>
                Mareos
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.desmayos) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.desmayos) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.desmayos) ? 'El usuario ha presentado desmayos cuando realiza actividad física' : 'El usuario no ha presentado desmayos cuando realiza actividad física' }}
                </v-tooltip>
                Desmayos
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.nauceas) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.nauceas) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.nauceas) ? 'El usuario ha presentado nauceas cuando realiza actividad física' : 'El usuario no ha presentado nauceas cuando realiza actividad física' }}
                </v-tooltip>
                Nauceas
              </p>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.dificultadRespiratoria) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.dificultadRespiratoria) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.dificultadRespiratoria) ? 'El usuario ha presentado dificultad para respirar cuando realiza actividad física' : 'El usuario no ha presentado dificultad para respirar cuando realiza actividad física' }}
                </v-tooltip>
                Dificultad para respirar
              </p>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs10>
              <h3 class="title-view-user">Otra Información</h3>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.actividadDeportiva.value) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.actividadDeportiva.value) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.actividadDeportiva.value) ? loadedUser.medicalConditions.actividadDeportiva.description : 'El usuario no ha practicado otras actividades deportivas' }}
                </v-tooltip>
                Otras actividades deportivas
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator"
                    style="cursor: pointer"
                    :color="(loadedUser.medicalConditions.inscripcionAnterior) ? 'green' : 'red'">
                    {{ (loadedUser.medicalConditions.inscripcionAnterior) ? 'check' : 'clear' }}
                  </v-icon>
                  {{ (loadedUser.medicalConditions.inscripcionAnterior) ? 'El usuario se ha inscrito anteriormente en otros gimnasios' : 'El usuario no tiene inscripciones en gimnasios anteriormente' }}
                </v-tooltip>
                Gimnasios anteriores
              </p>
            </v-flex>
          </v-layout>

          <v-card-actions class="footer-view-user">
          <v-spacer></v-spacer>
            <router-link :to="'/users/medicalconditions/' + loadedUser._id" tag="button">
              <v-btn color="red" dark flat>Actualizar Información
                <v-icon dark right>mode_edit</v-icon>
              </v-btn>
            </router-link>
          </v-card-actions>

        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import moment from 'moment'
  export default {
    data: () => ({

    }),
    created () {
      this.$store.dispatch('loadUser', this.id)
    },
    props: ['id'],
    computed: {
      loadedUser () {
        return this.$store.getters.loadedUser
      },
      getFormattedDate () {
        if (this.loadedUser.birthday) {
          return moment(this.loadedUser.birthday).format('DD/MM/YYYY')
        }
        return ''
      },
      getIdentity () {
        switch (this.loadedUser.documentType) {
          case 'dni':
            return 'Cedula: '
          case 'passport':
            return 'Pasaporte: '
          case 'licencia':
            return 'Licencia: '
          default:
            return ''
        }
      }
    }
  }
</script>

<style>

  .title-view-user {
    color: #125688;
    font-weight: 400;
    font-size: 1.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
  }

  .footer-view-user {
    background-color: #dbdbdb;
  }

</style>
