<template>
  <v-container>
    <v-layout row wrap>

      <v-flex xs12 sm6 md4 pa-2>
        <router-link :to="(loadedBasicStatistics.savedUsers < 1) ? '/users/new' : '/users'" tag="a" style="text-decoration:none">
          <v-card dark color="yellow darken-3">
            <v-layout wrap row align-center justify-center pa-5 style="min-height: 224px;">
              <v-flex xs12 text-xs-center>
                <v-icon style="font-size: 70px;" v-if="loadedBasicStatistics.savedUsers < 1">group</v-icon>
                <v-icon style="font-size: 70px;" v-else>check</v-icon>
                <p style="font-weight: bold;" v-if="loadedBasicStatistics.savedUsers < 1">Registra tu primer usuario</p>
                <p style="font-weight: bold;" v-else>Has registrado {{loadedBasicStatistics.savedUsers}} usuarios</p>
              </v-flex>
            </v-layout>
          </v-card>
        </router-link>
      </v-flex>

      <v-flex xs12 sm6 md4 pa-2>
        <router-link :to="(loadedBasicStatistics.savedMemberships < 1) ? '/memberships/new' : '/memberships'" style="text-decoration:none">
          <v-card dark color="blue darken-3">
            <v-layout wrap row align-center justify-center pa-5 style="min-height: 224px;">
              <v-flex xs12 text-xs-center>
                <v-icon style="font-size: 70px;" v-if="loadedBasicStatistics.savedMemberships < 1">card_membership</v-icon>
                <v-icon style="font-size: 70px;" v-else>check</v-icon>
                <p style="font-weight: bold;" v-if="loadedBasicStatistics.savedMemberships < 1">Crea tu primera membresía</p>
                <p style="font-weight: bold;" v-else>Has creado {{loadedBasicStatistics.savedMemberships}} membresías</p>
              </v-flex>
            </v-layout>
          </v-card>
        </router-link>
      </v-flex>

      <v-flex xs12 sm6 md4 pa-2>
        <router-link :to="(loadedBasicStatistics.savedEvents < 1) ? '/events/new' : '/events'" tag="a" style="text-decoration:none">
          <v-card dark color="red">
            <v-layout wrap row align-center justify-center pa-5 style="min-height: 224px;">
              <v-flex xs12 text-xs-center>
                <v-icon style="font-size: 70px;" v-if="loadedBasicStatistics.savedEvents < 1">date_range</v-icon>
                <v-icon style="font-size: 70px;" v-else>check</v-icon>
                <p style="font-weight: bold;" v-if="loadedBasicStatistics.savedEvents < 1">Crea tu primer evento</p>
                <p style="font-weight: bold;" v-else>Has organizado {{loadedBasicStatistics.savedEvents}} eventos</p>
              </v-flex>
            </v-layout>
          </v-card>
        </router-link>
      </v-flex>

      <v-flex xs12 sm6 md4 pa-2>
        <router-link :to="(loadedBasicStatistics.savedUserPayments < 1) ? '/userpayments/new' : '/userpayments'" tag="a" style="text-decoration:none">
          <v-card dark color="green">
            <v-layout wrap row align-center justify-center pa-5 style="min-height: 224px;">
              <v-flex xs12 text-xs-center>
                <v-icon style="font-size: 70px;" v-if="loadedBasicStatistics.savedUserPayments < 1">monetization_on</v-icon>
                <v-icon style="font-size: 70px;" v-else>check</v-icon>
                <p style="font-weight: bold;" v-if="loadedBasicStatistics.savedUserPayments < 1">Genera tu primer cobro</p>
                <p style="font-weight: bold;" v-else>Has generado {{loadedBasicStatistics.savedUserPayments}} cobros</p>
              </v-flex>
            </v-layout>
          </v-card>
        </router-link>
      </v-flex>

      <v-flex xs12 sm6 md4 pa-2>
        <router-link to="/access" tag="a" style="text-decoration:none">
          <v-card dark color="pink">
            <v-layout wrap row align-center justify-center pa-5 style="min-height: 224px;">
              <v-flex xs12 text-xs-center>
                <v-icon style="font-size: 70px;" v-if="loadedBasicStatistics.savedAccess < 1">vpn_key</v-icon>
                <v-icon style="font-size: 70px;" v-else>check</v-icon>
                <p style="font-weight: bold;" v-if="loadedBasicStatistics.savedAccess < 1">Registra tu primer acceso</p>
                <p style="font-weight: bold;" v-else>Se han registrado {{loadedBasicStatistics.savedAccess}} accesos</p>
              </v-flex>
            </v-layout>
          </v-card>
        </router-link>
      </v-flex>

      <v-flex xs12 sm6 md4 pa-2>
        <router-link to="/home" tag="a" style="text-decoration:none;">
          <v-card dark :color="(statusGym) ? 'black' : 'grey lighten-1'">
            <v-layout wrap row align-center justify-center style="height: 224px;">
              <v-flex xs12 text-xs-center>
                <v-icon style="font-size: 70px;" :color="(statusGym) ? 'yellow' : 'grey'">star</v-icon>
                <v-icon style="font-size: 70px;" color="yellow" v-if="statusGym">star</v-icon>
                <v-icon style="font-size: 70px;" color="yellow" v-if="statusGym">star</v-icon>
                <p style="font-weight: bold;">{{(statusGym) ? 'Pro Gym' : 'Starter Gym'}}</p>
              </v-flex>
            </v-layout>
          </v-card>
        </router-link>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  export default {
    mounted () {
      this.$store.dispatch('loadBasicStatistics')
    },
    computed: {
      loadedBasicStatistics () {
        return this.$store.getters.loadedBasicStatistics
      },
      userSession () {
        return this.$store.getters.userSession
      },
      statusGym () {
        return this.loadedBasicStatistics.savedUsers > 0 &&
        this.loadedBasicStatistics.savedAccess > 0 &&
        this.loadedBasicStatistics.savedMemberships > 0 &&
        this.loadedBasicStatistics.savedUserPayments > 0 &&
        this.loadedBasicStatistics.savedEvents > 0
      }
    },
    data: () => ({
      dato: 0
    }),
    watch: {
      userSession (date) {
        this.$store.dispatch('loadBasicStatistics')
      }
    }
  }
</script>
