<template>
  <v-container>
    <v-card class="elevation-6">
      <v-card-title>
        <h1 class="title-form">Registro de acceso</h1>

        <v-spacer></v-spacer>
        <v-text-field
          append-icon="search"
          label="Buscar registro"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="accessRecords"
        :search="search"
        :rows-per-page-items="[10, 20, 40, {'text': 'Todos', 'value': -1}]"
      >
      <template slot="items" slot-scope="props">
        <td>
            <v-tooltip bottom>
              <v-icon slot="activator" v-bind:style="{ color: props.item.status ? '#F9A825' : 'grey' }">lightbulb_outline</v-icon>
              {{ getReason(props.item.reason) }}
            </v-tooltip>
        </td>
        <td>{{ props.item.fkIdUser.fullname }}</td>
        <td class="text-xs-left">{{ props.item.fkIdUser.username }}</td>
        <td class="text-xs-left">{{ props.item.fkIdUser.email }}</td>
        <td class="text-xs-left">{{ getDate(props.item.createdAt) }}</td>
      </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Tu búsqueda de "{{ search }}" no tiene resultados.
        </v-alert>
        <v-alert slot="no-data" :value="true" color="info" icon="info">
          No tienes registrados accesos a tu gimnasio.
        </v-alert>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
  import moment from 'moment'

  export default {
    data: () => ({
      search: null,
      headers: [
        { text: '', align: 'center', value: 'status', sortable: false },
        { text: 'Nombre del usuario', align: 'left', value: 'fkIdUser.fullname' },
        { text: 'Seudónimo', value: 'fkIdUser.username' },
        { text: 'Correo', value: 'fkIdUser.email' },
        { text: 'Fecha', value: 'createdAt' }
      ]
    }),
    created () {
      this.$store.dispatch('loadAccessRecords')
    },
    computed: {
      accessRecords () {
        return this.$store.getters.loadedAccessRecords
      }
    },
    methods: {
      getDate (date) {
        return moment(date).format('DD/MM/YYYY HH:mm:ss')
      },
      getReason (reason) {
        switch (reason) {
          case 'guaranteed_access':
            return 'Acceso permitido'
          case 'membership_expired':
            return 'Membresía expirada'
          case 'membership_not_purchased':
            return 'Membresía no adquirida'
          case 'unauthorized':
            return 'Desautorizado'
          default:
            return ''
        }
      }
    }
  }
</script>
