<template>
  <v-app>
    <v-navigation-drawer
      persistent
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      fixed
      app
    >
    <router-link to="/" tag="span" style="cursor: pointer">
      <h1 v-if="!miniVariant" class="gym-advance text-xs-center">Gym Advance</h1>
    </router-link>

    </v-if>
      <v-toolbar flat class="transparent">
        <v-list class="pa-0">
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <img :src="userSession.urlPicture" v-if="userSession.urlPicture">
              <v-icon v-else x-large>face</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title> {{ userSession.fullname }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-divider></v-divider>
      <v-list>
        <v-list-tile
          v-for="(item, i) in itemsDrawer"
          :key="i"
          :to="{ path: '/' + item.path }"
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      app
      :clipped-left="clipped"
      dark
      class="blue"
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
      </v-btn>
      <v-toolbar-title v-if="miniVariant">
        <router-link to="/" tag="span" style="cursor: pointer">Gym Advance</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu :nudge-width="100">
        <v-toolbar-title slot="activator">
          <span>{{ userSession.fkIdGym ? userSession.fkIdGym.dataName : '' }}</span>
          <v-icon ligth>keyboard_arrow_down</v-icon>
        </v-toolbar-title>
        <v-list>
          <v-list-tile router :to="{path: '/settings'}">
            <v-list-tile-title>Configuración</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="onLogout">
            <v-list-tile-title>Salir</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content>
      <transition name="fade">
        <router-view/>
      </transition>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        clipped: false,
        drawer: true,
        itemsDrawer: [
          { icon: 'fitness_center', title: 'Gimnasios', path: 'gyms' },
          { icon: 'star', title: 'Planes', path: 'plans' },
          { icon: 'monetization_on', title: 'Pagos de gimnasios', path: 'gympayments' },
          { icon: 'group', title: 'Usuarios', path: 'users' },
          { icon: 'attach_money', title: 'Pagos de usuarios', path: 'userpayments' },
          { icon: 'settings', title: 'Configuración', path: 'settings' }
        ],
        itemsToolbar: [
          { key: 'settings_item_toolbar', title: 'Configuración', path: 'settings' },
          { key: 'signout_item_toolbar', title: 'Salir', path: 'signout' }
        ],
        miniVariant: false
      }
    },
    computed: {
      userSession () {
        return this.$store.state.userSession
      }
    },
    created () {
      this.$store.dispatch('loadUserSession')
    },
    methods: {
      onLogout () {
        this.$store.dispatch('logout')
        this.$router.push('/login')
      }
    }
  }
</script>

<style>
  .title-form {
    color: #125688;
    font-weight: 400;
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
  }

  .fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
  }

  .fade-enter-active {
    transition-delay: .25s;
  }

  .fade-enter, .fade-leave-active {
    opacity: 0
  }
</style>
