<template>
  <v-container>
    <v-layout pb-3 row>
      <v-flex xs12>
        <v-card class="elevation-6">

            <v-card-title>
              <v-avatar
                :size="100"
                class="blue darken-4"
              >
                <img v-if="userSession.urlPicture" :src="userSession.urlPicture">
                <v-icon v-if="!userSession.urlPicture" dark x-large>face</v-icon>
              </v-avatar>
              <v-layout row wrap>
                <v-flex xs12>
                  <h1 class="gym-advance ml-3">{{ userSession.fullname }}</h1>
                </v-flex>
                <v-flex px-2 xs12>
                  <p class="gym-advance ml-3" style="font-size: 24px;">{{ userSession.username }}</p>
                </v-flex>
              </v-layout>
            </v-card-title>

            <v-card-text>
              <v-layout row>
                <v-flex px-2 xs4>
                  Cedula
                </v-flex>

                <v-flex px-2 xs4>
                  Fecha de nacimiento
                </v-flex>

                <v-flex px-2 xs4>
                  Email
                </v-flex>
              </v-layout>

              <v-layout pb-4 row>
                <v-flex px-2 xs4 class="grey--text">
                  {{ userSession.documentNumber }}
                </v-flex>

                <v-flex px-2 xs4 class="grey--text">
                  {{ getFormattedDate }}
                </v-flex>

                <v-flex px-2 xs4 class="grey--text">
                  {{ userSession.email }}
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs12>
                  Observaciones
                </v-flex>
              </v-layout>
              <v-layout pb-2 row>
                <v-flex px-2 xs12 class="grey--text">
                  {{ userSession.observations }}
                </v-flex>
              </v-layout>
            </v-card-text>

            <v-container>
              <v-card-actions>
                <v-btn dark color="blue darken-4" @click="openDialog">Cambiar contraseña</v-btn>
                <v-btn dark color="blue darken-4" @click="editUserSession">Editar mis datos</v-btn>
              </v-card-actions>
            </v-container>
        </v-card>
      </v-flex>
    </v-layout>

    <!-- Segunda tarjeta  -->

    <v-layout row>
      <v-flex xs12>
        <v-card class="elevation-6">
          <v-container>

            <v-layout row>
              <v-flex px-2 xs12>
                <h1 class="title-form" style="indigo darken-4">Contacto y Ubicación</h1>
              </v-flex>
            </v-layout>

            <v-layout row>
              <v-flex px-2 xs4>
                Email
              </v-flex>

              <v-flex px-2 xs4>
                Teléfono principal
              </v-flex>

              <v-flex px-2 xs4>
                Llamar en caso de emergencia
              </v-flex>
            </v-layout>

            <v-layout pb-4 row>
              <v-flex px-2 xs4 class="grey--text">
                {{ userSession.email }}
              </v-flex>

              <v-flex px-2 xs4 class="grey--text">
                {{ userSession.mainPhone }}
              </v-flex>

              <v-flex px-2 xs4 class="grey--text">
                {{ userSession.emergencyPhone }}
              </v-flex>
            </v-layout>

            <v-layout row v-if="userSession.haveInsurancePolicy">
              <v-flex px-2 xs4>
                Seguro
              </v-flex>

              <v-flex px-2 xs4>
                Numero de Póliza
              </v-flex>
            </v-layout>

            <v-layout pb-4 row v-if="userSession.haveInsurancePolicy">
              <v-flex px-2 xs4 class="grey--text">
                {{ userSession.nameInsurancePolicy }}
              </v-flex>

              <v-flex px-2 xs4 class="grey--text">
                {{ userSession.numberLifeInsurance }}
              </v-flex>
            </v-layout>

            <v-layout row>
              <v-flex px-2 xs12>
                Dirección de la residencia
              </v-flex>
            </v-layout>

            <v-layout pb-4 row>
              <v-flex px-2 xs12 class="grey--text">
                {{ userSession.residenceAddress }}
              </v-flex>
            </v-layout>

            <v-layout row>
              <v-flex px-2 xs12>
                Dirección de trabajo
              </v-flex>
            </v-layout>

            <v-layout row>
              <v-flex px-2 xs12 class="grey--text">
                {{ userSession.workAddress }}
              </v-flex>
            </v-layout>

          </v-container>
        </v-card>
      </v-flex>
    </v-layout>

    <v-dialog v-model="dialog" persistent max-width="500">
      <v-card>
        <form @submit.prevent="changePassword">
          <v-card-title class="headline">Cambiar contraseña</v-card-title>
          <v-container grid-list-md>
            <v-card-text>
              <v-layout row>
                <v-flex xs12>
                  <v-text-field type="password" label="Contraseña actual" required v-model="currentPasssword"></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12>
                  <v-text-field type="password" label="Nueva contraseña" required v-model="newPassword"></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12>
                  <v-text-field
                    type="password"
                    label="Repita la contraseña"
                    required
                    v-model="repeatPassword"
                    :error="!equalNewPassword"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-4" flat="flat" @click="closeDialog">Cancelar</v-btn>
            <v-btn
              color="blue darken-4"
              flat="flat"
              :disabled="!formIsValid || !equalNewPassword"
              type="submit"
            >Aceptar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>

    <v-snackbar
      :timeout="showToast.timeout"
      :color="showToast.color"
      v-model="showToast.status"
    >{{ showToast.text }}</v-snackbar>
  </v-container>
</template>

<script>
  import moment from 'moment'
  export default {
    data: () => ({
      currentPasssword: '',
      newPassword: '',
      repeatPassword: '',
      dialog: false
    }),
    computed: {
      userSession () {
        return this.$store.state.userSession
      },
      getFormattedDate () {
        return moment(this.userSession.birthday).format('DD/MM/YYYY')
      },
      formIsValid () {
        return this.currentPasssword !== '' && this.newPassword !== '' && this.repeatPassword !== ''
      },
      equalNewPassword () {
        return this.newPassword === this.repeatPassword
      },
      showToast () {
        if (this.$store.state.showToast.status) {
          this.closeDialog()
        }
        return this.$store.state.showToast
      }
    },
    methods: {
      editUserSession () {
        this.$router.push(`/users/edit/${this.$store.state.userSession._id}`)
      },
      openDialog () {
        this.dialog = true
      },
      closeDialog () {
        this.dialog = false
        this.currentPasssword = ''
        this.newPassword = ''
        this.repeatPassword = ''
      },
      changePassword () {
        if (!this.formIsValid || !this.equalNewPassword) {
          return
        }

        let passwordData = {
          currentPasssword: this.currentPasssword,
          newPassword: this.repeatPassword
        }

        this.$store.dispatch('changePassword', passwordData)
      }
    }
  }
</script>
