<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card class="elevation-6">
          <v-container>
            <form @submit.prevent="onEditEvent">
              <h1 class="title-form">Editar Evento</h1>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                    disabled
                    name="dataName"
                    label="Categoria"
                    id="dataName"
                    v-model="nameCategory"
                  ></v-text-field>
                </v-flex>
                <v-flex px-2 xs6>
                  <v-text-field
                    name="dataName"
                    label="Nombre del evento"
                    id="dataName"
                    v-model="loadedEvent.dataName"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="description"
                    label="Descripción"
                    id="description"
                    v-model="loadedEvent.description"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                    :mask="'######'"
                    name="price"
                    label="Precio"
                    id="price"
                    prefix="$"
                    v-model="loadedEvent.price"
                  ></v-text-field>
                </v-flex>
                <v-flex px-2 xs6>
                  <v-text-field
                    :mask="'####'"
                    name="capacity"
                    label="Capacidad"
                    id="capacity"
                    v-model="loadedEvent.capacity"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="ubicacion"
                    label="Ubicación"
                    id="ubicacion"
                    v-model="loadedEvent.ubication"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs12>
                  <v-chip
                    v-for="instructor in loadedEvent.instructors"
                    color="blue darken-4"
                    :key="instructor._id"
                    text-color="white"
                  >{{ instructor.fullname }}</v-chip>
                  <v-tooltip bottom>
                    <v-icon color="red" slot="activator">info</v-icon>
                    <span>Al editar los instructores estarás creando una lista nueva</span>
                  </v-tooltip>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs12>
                  <v-select
                    chips
                    multiple
                    label="Instructores"
                    autocomplete
                    :loading="loadingInstructors"
                    cache-items
                    :items="itemsInstructorsAutocomplete"
                    :item-text="'fullname'"
                    :item-value="'_id'"
                    :no-data-text="'No hay resultados'"
                    :search-input.sync="searchInstructor"
                    v-model="instructorsSelected"
                  ></v-select>
                </v-flex>
              </v-layout>

              <v-card-actions>
                <v-btn
                  :dark="formIsValid"
                  color="blue darken-4"
                  type="submit"
                  :disabled="!formIsValid"
                >Guardar Evento</v-btn>

                <router-link to="/events" tag="button"><v-btn dark color="red">Cancelar</v-btn></router-link>

              </v-card-actions>
            </form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        // datos del formulario
        instructorsSelected: [],
        // fin de datos del formulario
        loadingInstructors: false,
        itemsInstructorsAutocomplete: [],
        searchInstructor: null
      }
    },
    created () {
      this.$store.dispatch('loadEvent', this.id)
      this.$store.dispatch('loadUsers')
    },
    props: ['id'],
    computed: {
      formIsValid () {
        return !this.isSaving
      },
      instructors () {
        return this.$store.getters.loadedInstructors
      },
      loadedEvent () {
        return this.$store.state.loadedEvent
      },
      nameCategory () {
        return this.$store.state.loadedEvent.fkIdCategory ? this.loadedEvent.fkIdCategory.name : ''
      }
    },
    watch: {
      searchInstructor (val) {
        val && this.queryInstructorsSelections(val)
      }
    },
    methods: {
      onEditEvent () {
        if (!this.formIsValid) {
          return
        }

        let eventData = {
          _id: this.id,
          capacity: this.loadedEvent.capacity,
          dataName: this.loadedEvent.dataName,
          description: this.loadedEvent.description,
          instructors: this.instructorsSelected.length > 0 ? this.instructorsSelected : this.loadedEvent.instructors,
          price: this.loadedEvent.price,
          ubication: this.loadedEvent.ubication
        }
        console.log(eventData)
        this.$store.dispatch('editEvent', eventData)
      },
      queryInstructorsSelections (v) {
        this.loadingInstructors = true
        this.itemsInstructorsAutocomplete = this.instructors.filter(e => {
          return (e.fullname || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
        })
        this.loadingInstructors = false
      }
    }
  }
</script>
