<template>
  <v-container v-if="true">
    <v-layout row align-center>
      <v-flex xs12 class="text-xs-center">
        <v-date-picker
          full-width
          landscape
          locale="es-es"          
          :min="getNow()"
          event-color="red"
          class="elevation-6"
          v-model="date"
          :events="dates"
        ></v-date-picker>
      </v-flex>
    </v-layout>

    <list-events :date="date" v-on:clear-date="clearDate()"></list-events>

    <v-btn
        :color="'blue darken-4'"
        dark
        fab
        fixed
        bottom
        right
        :to="{path: '/events/new'}"
      >
        <v-icon>add</v-icon>
      </v-btn>
  </v-container>
</template>

<script>
  import moment from 'moment'
  import ListEvents from './ListEvents.vue'

  export default {
    components: {
      ListEvents
    },
    data: () => ({
      dates: [],
      date: null,
      deleteEventId: null,
      search: null,
      headers: [
        { text: 'Nombre del evento', align: 'left', value: 'dataName' },
        { text: 'Categoría', value: 'fkIdCategory.name' },
        { text: 'Fecha', value: 'startDate' },
        { text: 'Capacidad', value: 'capacity' },
        { text: 'Precio', value: 'price' },
        { text: 'Acciones', align: 'center', value: 'actions', sortable: false }
      ]
    }),
    created () {
      this.$store.dispatch('loadEvents')
    },
    computed: {
      events () {
        return this.$store.getters.loadedEvents
      },
      loadingData () {
        return this.$store.getters.loadingData
      }
    },
    methods: {
      clearDate () {
        this.date = null
      },
      onEditEvent (id) {
        this.$router.push('/events/edit/' + id)
      },
      onLoadEvent (id) {
        this.$router.push('/events/' + id)
      },
      getDate (date) {
        return moment(date).format('DD/MM/YYYY')
      },
      getNow () {
        return moment().format('YYYY-MM-DD')
      },
      closeDeleteDialog () {
        this.deleteEventId = null
        this.dialog = false
      },
      openDeleteDialog (id) {
        this.deleteEventId = id
        this.dialog = true
      },
      deleteEvent () {
        this.$store.dispatch('deleteEvent', this.deleteEventId)
      }
    },
    watch: {
      events (data) {
        let events = []
        data.forEach(function (elemento, indice, array) {
          const event = moment(elemento.startDate).format('YYYY-MM-DD')
          events.push(event)
        })

        this.dates = events
      }
    }
  }
</script>
