<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 md10 offset-xs0  offset-md1>
        <v-card class="elevation-6">
          <v-card-title>
            <h1 class="gym-advance">{{ getName }}</h1>
          </v-card-title>

          <v-layout row v-if="loadedEvent.ubication">
            <v-flex px-3 xs12>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator">description</v-icon>
                  Descripción
                </v-tooltip>
                {{ loadedEvent.description }}
              </p>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator">date_range</v-icon>
                  Fecha
                </v-tooltip>
                {{ getDate }}
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator">attach_money</v-icon>
                  Precio
                </v-tooltip>
                {{ getPrice }}
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator">group</v-icon>
                  Capacidad de participantes
                </v-tooltip>
                {{ getCapacity }}
              </p>
            </v-flex>
          </v-layout>

          <v-layout row v-if="loadedEvent.ubication">
            <v-flex px-3 xs12>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator">location_on</v-icon>
                  Ubicación
                </v-tooltip>
                {{ loadedEvent.ubication }}
              </p>
            </v-flex>
          </v-layout>

          <v-layout row v-if="getInstructors">
            <v-flex px-2 xs12>
              <v-divider></v-divider>
              <v-subheader>Instructores</v-subheader>
              <v-chip
                v-for="instructor in loadedEvent.instructors"
                color="blue darken-4"
                :key="instructor._id"
                text-color="white"
              >{{ instructor.fullname }}</v-chip>
            </v-flex>
          </v-layout>

          <v-card-actions class="footer-view-user">
          <v-spacer></v-spacer>
            <router-link :to="'/events/edit/' + loadedEvent._id" tag="button">
              <v-btn color="red" dark flat>Editar
                <v-icon dark right>mode_edit</v-icon>
              </v-btn>
            </router-link>
            <router-link to="/events" tag="button">
              <v-btn color="primary" dark flat>Volver
                <v-icon dark right>check_circle</v-icon>
              </v-btn>
            </router-link>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import moment from 'moment'
  export default {
    created () {
      this.$store.dispatch('loadEvent', this.id)
    },
    props: ['id'],
    computed: {
      loadedEvent () {
        return this.$store.state.loadedEvent
      },
      getName () {
        if (this.loadedEvent.dataName) {
          return this.loadedEvent.dataName
        }

        if (this.loadedEvent.fkIdCategory) {
          return this.loadedEvent.fkIdCategory.name
        }
      },
      getDate () {
        return moment(this.$store.state.loadedEvent.startDate).format('DD/MM/YYYY')
      },
      getCapacity () {
        if (this.loadedEvent.capacity > 0) {
          return this.loadedEvent.capacity + ' personas'
        }
        return 'Sin limite de participantes'
      },
      getPrice () {
        if (this.loadedEvent.price > 0) {
          return this.loadedEvent.price + ' pesos'
        }
        return 'Gratis'
      },
      getInstructors () {
        if (this.loadedEvent.instructors) {
          if (this.loadedEvent.instructors.length > 0) {
            return true
          }
        }
        return false
      }
    }
  }
</script>

<style>

  .title-view-user {
    color: #125688;
    font-weight: 400;
    font-size: 1.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
  }

  .footer-view-user {
    background-color: #dbdbdb;
  }

</style>
