<template>
  <v-layout row mt-3>
    <v-flex xs12 class="text-xs-center">
      <v-card class="elevation-6" v-if="eventsInList.length > 0">
        <v-list two-line>
          <template v-for="(item, index) in eventsInList">
            <v-subheader v-if="index === 0">{{ getDate(date) }}</v-subheader>
            <v-divider v-if="index < eventsInList.length"></v-divider>
            <v-list-tile @click="">
              <v-list-tile-avatar color="blue darken-3">
                <img v-if="item.urlImage":src="item.avatar">
                <v-icon dark v-else>event_available</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="item.dataName"></v-list-tile-title>
                <v-list-tile-sub-title v-html="item.description"></v-list-tile-sub-title>
                <v-list-tile-sub-title>{{getTime(item.startDate)}}</v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-layout row>
                  <v-tooltip bottom>
                    <v-btn icon class="mx-0" slot="activator" @click="onLoadEvent(item._id)">
                      <v-icon color="primary">remove_red_eye</v-icon>
                    </v-btn>
                    <span>Ver evento</span>
                  </v-tooltip>

                  <v-tooltip bottom>
                    <v-btn icon class="mx-0" slot="activator" @click="onEditEvent(item._id)">
                      <v-icon color="primary">edit</v-icon>
                    </v-btn>
                    <span>Editar evento</span>
                  </v-tooltip>

                  <v-tooltip bottom>
                    <v-btn icon class="mx-0" slot="activator" @click="openDeleteDialog(item._id)">
                      <v-icon color="red">delete</v-icon>
                    </v-btn>
                    <span>Eliminar evento</span>
                  </v-tooltip>

                  <v-tooltip bottom>
                    <v-btn icon class="mx-0" slot="activator">
                      <v-icon color="yellow darken-4">lightbulb_outline</v-icon>
                    </v-btn>
                    <span>Estado del evento</span>
                  </v-tooltip>
                </v-layout>
              </v-list-tile-action>
            </v-list-tile>
          </template>
        </v-list>
      </v-card>


      <v-tooltip bottom v-else>
        <v-btn fab color="red" dark slot="activator" @click="$emit('clear-date')">
          <v-icon>event_busy</v-icon>
        </v-btn>
        <span>No hay eventos para este dia</span>
      </v-tooltip>

    </v-flex>

    <v-dialog v-model="dialog" persistent max-width="400">
      <v-card>
        <v-card-title class="headline">¿Desea eliminar este evento?</v-card-title>
        <v-card-text>Esta acción no se puede deshacer.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-4" :disabled="deletingEvent" flat="flat" @click.native="closeDeleteDialog">Cancelar</v-btn>
          <v-btn
            color="red"
            :disabled="deletingEvent"
            flat="flat"
            @click.native="deleteEvent"
            :loading="deletingEvent"
          >Aceptar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import moment from 'moment'
  moment.locale('es')
  export default {
    computed: {
      deletingEvent () {
        return this.$store.state.deletingEvent
      },
      events () {
        return this.$store.getters.loadedEvents
      }
    },
    data: () => ({
      eventsInList: [],
      dialog: false
    }),
    methods: {
      getDate (date) {
        if (date) {
          return moment(date).format('LL')
        } else {
          return 'Todos los eventos'
        }
      },
      getTime (date) {
        if (this.date) {
          return moment(date).format('LT')
        } else {
          return moment(date).format('LLL')
        }
      },
      onEditEvent (id) {
        this.$router.push('/events/edit/' + id)
      },
      onLoadEvent (id) {
        this.$router.push('/events/' + id)
      },
      closeDeleteDialog () {
        this.deleteEventId = null
        this.dialog = false
      },
      openDeleteDialog (id) {
        this.deleteEventId = id
        this.dialog = true
      },
      deleteEvent () {
        this.$store.dispatch('deleteEvent', this.deleteEventId)
      }
    },
    watch: {
      date (value) {
        if (value) {
          let list = []
          this.events.forEach(function (event) {
            if (moment(event.startDate).isSame(value, 'day')) {
              list.push(event)
            }
          })

          this.eventsInList = list
        } else {
          this.eventsInList = this.events
        }
      },
      events (value) {
        this.date = null
        this.eventsInList = this.events
      }
    },
    props: ['date']
  }
</script>
