<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card class="elevation-6">
          <v-container>
            <form @submit.prevent="onCreateEvent">
              <h1 class="title-form">Nuevo Evento</h1>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-select
                    label="Categoría"
                    autocomplete
                    :loading="loadingCategories"
                    cache-items
                    required
                    :items="itemsCategoriesAutocomplete"
                    :item-text="'name'"
                    :item-value="'_id'"
                    :no-data-text="'No hay resultados'"
                    :rules="[() => fkIdCategory != null || 'Tiene que seleccionar una categoría']"
                    :search-input.sync="searchCategory"
                    v-model="fkIdCategory"
                  ></v-select>
                </v-flex>
                <v-flex px-2 xs6>
                  <v-text-field
                    name="dataName"
                    label="Nombre del evento"
                    id="dataName"
                    v-model="dataName"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="description"
                    label="Descripción"
                    id="description"
                    v-model="description"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                    :mask="'######'"
                    name="price"
                    label="Precio"
                    id="price"
                    prefix="$"
                    v-model="price"
                  ></v-text-field>
                </v-flex>
                <v-flex px-2 xs6>
                  <v-text-field
                    :mask="'####'"
                    name="capacity"
                    label="Capacidad"
                    id="capacity"
                    v-model="capacity"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="ubicacion"
                    label="Ubicación"
                    id="ubicacion"
                    v-model="ubication"></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex px-2 xs12>
                  <v-select
                    chips
                    multiple
                    label="Instructores"
                    autocomplete
                    :loading="loadingInstructors"
                    cache-items
                    :items="itemsInstructorsAutocomplete"
                    :item-text="'fullname'"
                    :item-value="'_id'"
                    :no-data-text="'No hay resultados'"
                    :search-input.sync="searchInstructor"
                    v-model="instructorsSelected"
                  ></v-select>
                </v-flex>
              </v-layout>

              <v-layout row justify-center>
                <v-flex xs4>
                  <v-date-picker
                    locale="es-es"
                    color="primary"
                    header-color="blue darken-4"
                    v-model="date"
                    required
                  ></v-date-picker>
                </v-flex>

                <v-slide-x-transition>
                  <v-flex xs4 v-show="dateIsSelected">
                    <v-time-picker
                      color="primary"
                      header-color="blue darken-4"
                      v-model="time"
                      format="24hr"
                      required
                    ></v-time-picker>
                  </v-flex>
                </v-slide-x-transition>
              </v-layout>

              <v-card-actions>
                <v-btn
                  :dark="formIsValid"
                  :disabled="!formIsValid"
                  color="blue darken-4"
                  type="submit"
                >Guardar Evento</v-btn>

                <router-link to="/events" tag="button"><v-btn dark color="red">Cancelar</v-btn></router-link>

              </v-card-actions>
            </form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import moment from 'moment'

  export default {
    data () {
      return {
        // datos del formulario
        capacity: null,
        date: null,
        dataName: null,
        description: null,
        fkIdCategory: '',
        instructorsSelected: [],
        price: null,
        ubication: null,
        // fin de datos del formulario
        time: null,
        loadingCategories: false,
        loadingInstructors: false,
        itemsCategoriesAutocomplete: [],
        itemsInstructorsAutocomplete: [],
        searchCategory: null,
        searchInstructor: null
      }
    },
    created () {
      this.$store.dispatch('loadUsers')
      this.$store.dispatch('loadCategories')
    },
    computed: {
      categories () {
        return this.$store.getters.loadedCategories
      },
      dateIsSelected () {
        return this.date !== null
      },
      formIsValid () {
        return this.fkIdCategory !== '' && this.date !== null && this.time !== null && !this.isSaving
      },
      instructors () {
        return this.$store.getters.loadedInstructors
      },
      submittableDateTime () {
        const date = moment(this.date)
        if (typeof this.time === 'string') {
          const hours = this.time.match(/^(\d+)/)[1]
          const minutes = this.time.match(/:(\d+)/)[1]
          date.hour(hours)
          date.minute(minutes)
        }
        return date.valueOf()
      }
    },
    watch: {
      searchCategory (val) {
        val && this.queryCategoriesSelections(val)
      },
      searchInstructor (val) {
        val && this.queryInstructorsSelections(val)
      }
    },
    methods: {
      onCreateEvent () {
        if (!this.formIsValid) {
          return
        }

        let eventData = {
          capacity: this.capacity,
          dataName: this.dataName,
          description: this.description,
          fkIdCategory: this.fkIdCategory,
          instructors: this.instructorsSelected,
          price: this.price,
          startDate: this.submittableDateTime,
          ubication: this.ubication
        }

        console.log(eventData)
        this.$store.dispatch('createEvent', eventData)
      },
      queryCategoriesSelections (v) {
        this.loadingCategories = true
        this.itemsCategoriesAutocomplete = this.categories.filter(e => {
          return (e.name || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
        })
        this.loadingCategories = false
      },
      queryInstructorsSelections (v) {
        this.loadingInstructors = true
        this.itemsInstructorsAutocomplete = this.instructors.filter(e => {
          return (e.fullname || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
        })
        this.loadingInstructors = false
      }
    }
  }
</script>
