<template>
  <v-container fill-height v-if="loadingData">
    <v-layout row align-center>
      <v-flex xs12 class="text-xs-center">
        <v-progress-circular indeterminate :size="50" :width="7" color="primary"></v-progress-circular><br><br>
        Cargando datos...
      </v-flex>
    </v-layout>
  </v-container>

  <v-container v-else>
    <v-card class="elevation-6">
      <v-card-title>
        <h1 class="title-form">Pagos de usuarios</h1>

        <v-spacer></v-spacer>
        <v-text-field
          append-icon="search"
          label="Buscar pago"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="userPayments"
        :search="search"
        :rows-per-page-items="[10, 20, 40, {'text': 'Todos', 'value': -1}]"
      >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.fkIdUser.username }}</td>
        <td class="text-xs-left">{{ props.item.fkIdMembership.dataName }}</td>
        <td class="text-xs-left">{{ getTypePayment(props.item.paymentType) }}</td>
        <td class="text-xs-left">{{ props.item.amount }}</td>
        <td class="text-xs-left">{{ props.item.status }}</td>
        <td class="justify-center layout px-0">
          <v-tooltip bottom>
            <v-btn icon class="mx-0" slot="activator" @click="onLoadUserPayment(props.item._id)">
              <v-icon color="primary">remove_red_eye</v-icon>
            </v-btn>
            <span>Ver pago</span>
          </v-tooltip>
        </td>
      </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Tu búsqueda de "{{ search }}" no tiene resultados.
        </v-alert>
        <v-alert slot="no-data" :value="true" color="info" icon="info">
          Aún no has registrado un pago.
        </v-alert>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      search: null,
      headers: [
        { text: 'Usuario', align: 'left', value: 'fkIdUser.fullname' },
        { text: 'Membresía', value: 'fkIdMembership.dataName' },
        { text: 'Tipo de pago', value: 'paymentType' },
        { text: 'Monto', value: 'amount' },
        { text: 'Estado del pago', value: 'status' },
        { text: 'Acciones', align: 'center', value: 'actions', sortable: false }
      ]
    }),
    created () {
      this.$store.dispatch('loadUserPayments')
    },
    computed: {
      loadingData () {
        return this.$store.getters.loadingData
      },
      userPayments () {
        return this.$store.getters.loadedUserPayments
      }
    },
    methods: {
      onEditUser (id) {
        this.$router.push('/userpayments/edit/' + id)
      },
      onLoadUserPayment (id) {
        this.$router.push('/userpayments/' + id)
      },
      getTypePayment (type) {
        switch (type) {
          case 'cash':
            return 'Efectivo'
          case 'deposit':
            return 'Depósito'
          case 'debit':
            return 'Débito'
          case 'credit':
            return 'Crédito'
          case 'transfer':
            return 'Transferencia'
          default:
            return ''
        }
      }
    }
  }
</script>
