<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card class="elevation-6">
          <v-container>
            <h1 class="title-form">Editar plan</h1>

            <form @submit.prevent="onEditPlan">
              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="dataName"
                    label="Nombre del Plan"
                    id="dataName"
                    v-model="loadedPlan.dataName"
                    disabled
                    ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="description"
                    label="Descripción"
                    id="description"
                    v-model="loadedPlan.description"
                    required
                    ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                    :mask="'####'"
                    name="durationInDays"
                    label="Duración en dias"
                    id="durationInDays"
                    v-model="loadedPlan.durationInDays"
                    required
                    ></v-text-field>
                </v-flex>
                <v-flex px-2 xs6>
                  <v-text-field
                    :mask="'#########'"
                    prefix="$"
                    name="price"
                    label="Precio"
                    id="price"
                    v-model="loadedPlan.price"
                    required
                    ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-checkbox
                    name="status"
                    label="Activar Plan"
                    id="status"
                    color="blue darken-4"
                    v-model="loadedPlan.status"
                  ></v-checkbox>
                </v-flex>
              </v-layout>

              <v-card-actions>
                <v-btn
                  :disabled="!formIsValid"
                  :dark="formIsValid"
                  color=" dark blue darken-4"
                  type="submit"
                >Guardar cambios</v-btn>
                <router-link to="/plans" tag="button"><v-btn dark color="red">Cancelar</v-btn></router-link>
              </v-card-actions>
            </form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    created () {
      this.$store.dispatch('loadPlan', this.id)
    },
    props: ['id'],
    computed: {
      formIsValid () {
        return this.loadedPlan.description !== '' && this.loadedPlan.durationInDays !== '' && this.loadedPlan.price !== ''
      },
      loadedPlan () {
        return this.$store.state.loadedPlan
      }
    },
    methods: {
      onEditPlan () {
        if (!this.formIsValid) {
          console.log('form invalid')
          return
        }

        let planData = {
          _id: this.loadedPlan._id,
          description: this.loadedPlan.description,
          durationInDays: this.loadedPlan.durationInDays,
          price: this.loadedPlan.price,
          status: this.loadedPlan.status
        }
        this.$store.dispatch('editPlan', planData)
      }
    }
  }
</script>
