<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card class="elevation-6">
          <v-container>
            <h1 class="title-form">Editar Gimnasio</h1>

            <form @submit.prevent="onEditGym">
              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                    name="dataName"
                    label="Nombre del gimnasio"
                    id="dataName"
                    v-model="loadedGym.dataName"
                    required
                    ></v-text-field>
                </v-flex>

                <v-flex px-2 xs6>
                  <v-text-field
                    name="capacity"
                    label="Capacidad"
                    id="capacity"
                    v-model="loadedGym.capacity"
                    required
                    ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                    name="email"
                    label="Correo electronico"
                    id="email"
                    v-model="loadedGym.email"
                    required
                    ></v-text-field>
                </v-flex>
                <v-flex px-2 xs6>
                  <v-text-field
                    name="phone"
                    label="Teléfono"
                    id="phone"
                    v-model="loadedGym.phone"
                    required>
                  </v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="location"
                    label="Ubicación"
                    id="location"
                    v-model="loadedGym.location"
                    required
                    ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-checkbox
                    name="branch"
                    label="Establecer gimnasio como sucursal"
                    id="branch"
                    color="blue darken-4"
                    v-model="loadedGym.branch"
                  ></v-checkbox>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-checkbox
                    name="status"
                    label="Activar gimnasio"
                    id="status"
                    color="blue darken-4"
                    v-model="loadedGym.status"
                  ></v-checkbox>
                </v-flex>
              </v-layout>

              <v-card-actions>
                <v-btn
                  :disabled="!formIsValid"
                  :dark="formIsValid"
                  color=" dark blue darken-4"
                  type="submit"
                >Guardar cambios</v-btn>
                <router-link to="/gyms" tag="button"><v-btn dark color="red">Cancelar</v-btn></router-link>
              </v-card-actions>
            </form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    created () {
      this.$store.dispatch('loadGym', this.id)
      this.gym = this.loadedGym
    },
    props: ['id'],
    computed: {
      formIsValid () {
        return this.capacity !== '' && this.dataName !== '' && this.email !== '' && this.location !== '' && this.phone !== ''
      },
      loadedGym () {
        return this.$store.state.loadedGym
      }
    },
    methods: {
      onEditGym () {
        let gymData = {
          _id: this.loadedGym._id,
          capacity: Number(this.loadedGym.capacity),
          dataName: this.loadedGym.dataName,
          email: this.loadedGym.email,
          location: this.loadedGym.location,
          branch: this.loadedGym.branch,
          phone: this.loadedGym.phone,
          status: this.loadedGym.status
        }
        this.$store.dispatch('editGym', gymData)
      }
    }
  }
</script>
