<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 md10 offset-xs0  offset-md1>
        <v-card class="elevation-6">
          <v-card-title>
            <h1 class="gym-advance">{{ loadedGym.dataName }}</h1>
          </v-card-title>

          <v-layout row>
            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator">card_membership</v-icon>
                  Plan
                </v-tooltip>
                {{ loadedGym.fkIdPlan.dataName }}
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator">update</v-icon>
                  Fecha de expiración del plan
                </v-tooltip>
                {{ getFormattedDate(loadedGym.expirationDay) }}
              </p>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator">email</v-icon>
                  Email
                </v-tooltip>
                {{ loadedGym.email }}
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator">phone</v-icon>
                  Teléfono
                </v-tooltip>
                {{ loadedGym.phone }}
              </p>
            </v-flex>

            <v-flex px-3 xs4>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator">people</v-icon>
                  Capacidad
                </v-tooltip>
                {{ loadedGym.capacity }} personas
              </p>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex px-3 xs12>
              <p slot="activator">
                <v-tooltip bottom>
                  <v-icon medium slot="activator">card_membership</v-icon>
                  Ubicación
                </v-tooltip>
                {{ loadedGym.location }}
              </p>
            </v-flex>
          </v-layout>
          <v-card-actions class="footer-view-user">
          <v-spacer></v-spacer>
            <router-link :to="'/gyms/edit/' + loadedGym._id" tag="button">
              <v-btn color="red" dark flat>Editar
                <v-icon dark right>mode_edit</v-icon>
              </v-btn>
            </router-link>
            <router-link to="/Gyms" tag="button">
              <v-btn color="primary" dark flat>Volver
                <v-icon dark right>check_circle</v-icon>
              </v-btn>
            </router-link>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import moment from 'moment'

  export default {
    created () {
      this.$store.dispatch('loadGym', this.id)
    },
    props: ['id'],
    computed: {
      loadedGym () {
        return this.$store.state.loadedGym
      }
    },
    methods: {
      getFormattedDate (date) {
        if (date) {
          return moment(date).format('DD/MM/YYYY')
        }
        return ''
      }
    }
  }
</script>

<style>

  .title-view-user {
    color: #125688;
    font-weight: 400;
    font-size: 1.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
  }

  .footer-view-user {
    background-color: #dbdbdb;
  }

</style>
