<template>
  <v-container fill-height v-if="loadingData">
    <v-layout row align-center>
      <v-flex xs12 class="text-xs-center">
        <v-progress-circular indeterminate :size="50" :width="7" color="primary"></v-progress-circular><br><br>
        Cargando datos...
      </v-flex>
    </v-layout>
  </v-container>

  <v-container v-else>
      <v-card class="elevation-6">
        <v-card-title>
          <h1 class="title-form">Gimnasios</h1>

          <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Buscar gimnasio"
            single-line
            hide-details
            v-model="search"
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="gyms"
          :search="search"
          :rows-per-page-items="[10, 20, 40, {'text': 'Todos', 'value': -1}]"
        >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.dataName }}</td>
          <td>{{ props.item.fkIdPlan.dataName }}</td>
          <td>{{ props.item.phone }}</td>
          <td>{{ props.item.email }}</td>
          <td class="justify-center layout px-0">
            <v-tooltip bottom>
              <v-btn icon class="mx-0" slot="activator" @click="onLoadGym(props.item._id)">
                <v-icon color="primary">remove_red_eye</v-icon>
              </v-btn>
              <span>Ver gimnasio</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon class="mx-0" slot="activator" @click="onEditGym(props.item._id)">
                <v-icon color="primary">edit</v-icon>
              </v-btn>
              <span>Editar gimnasio</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon class="mx-0" slot="activator" @click="openDeleteDialog(props.item._id)">
                <v-icon color="red">delete</v-icon>
              </v-btn>
              <span>Eliminar gimnasio</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon class="mx-0" slot="activator">
                <v-icon color="yellow darken-4">lightbulb_outline</v-icon>
              </v-btn>
              <span>Estado del gimnasio</span>
            </v-tooltip>
          </td>
        </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">
            Tu búsqueda de "{{ search }}" no tiene resultados.
          </v-alert>
          <v-alert slot="no-data" :value="true" color="info" icon="info">
            No tienes gimnasios registrados. Empieza creando uno.
          </v-alert>
        </v-data-table>
      </v-card>

      <v-btn
          :color="'blue darken-4'"
          dark
          fab
          fixed
          bottom
          right
          :to="{path: '/gyms/new'}"
        >
          <v-icon>add</v-icon>
        </v-btn>

        <v-dialog v-model="dialog" persistent max-width="400">
          <v-card>
            <v-card-title class="headline">¿Desea eliminar este gimnasio?</v-card-title>
            <v-card-text>Esta acción no se puede deshacer.</v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-4" :disabled="deletingGym" flat="flat" @click.native="closeDeleteDialog">Cancelar</v-btn>
              <v-btn
                color="red"
                :disabled="deletingGym"
                flat="flat"
                @click.native="deleteGym"
                :loading="deletingGym"
              >Aceptar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      deleteGymId: null,
      dialog: false,
      search: null,
      headers: [
        { text: 'Nombre del gimnasio', align: 'left', value: 'dataName' },
        { text: 'Plan', value: 'plan' },
        { text: 'Teléfono', value: 'phone' },
        { text: 'Correo', value: 'email' },
        { text: 'Acciones', align: 'center', value: 'actions', sortable: false }
      ]
    }),
    name: 'App',
    created () {
      this.$store.dispatch('loadGyms')
    },
    computed: {
      gyms () {
        this.dialog = false
        return this.$store.getters.loadedGyms
      },
      deletingGym () {
        return this.$store.state.deletingGym
      },
      loadingData () {
        return this.$store.getters.loadingData
      }
    },
    methods: {
      onEditGym (id) {
        this.$router.push('/gyms/edit/' + id)
      },
      onLoadGym (id) {
        this.$router.push('/gyms/' + id)
      },
      closeDeleteDialog () {
        this.deleteGymId = null
        this.dialog = false
      },
      openDeleteDialog (id) {
        this.deleteGymId = id
        this.dialog = true
      },
      deleteGym () {
        this.$store.dispatch('deleteGym', this.deleteGymId)
      }
    }
  }
</script>
