<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card class="elevation-6">
          <v-container>
            <h1 class="title-form">Nuevo Gimnasio</h1>

            <form @submit.prevent="onCreateGym">
              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                    name="dataName"
                    label="Nombre del gimnasio"
                    id="dataName"
                    v-model="dataName"
                    required
                    ></v-text-field>
                </v-flex>

                <v-flex px-2 xs6>
                  <v-text-field
                    name="capacity"
                    label="Capacidad"
                    id="capacity"
                    v-model="capacity"
                    required
                    ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                    name="email"
                    label="Correo electronico"
                    id="email"
                    v-model="email"
                    required
                    ></v-text-field>
                </v-flex>
                <v-flex px-2 xs6>
                  <v-text-field
                    name="phone"
                    label="Teléfono"
                    id="phone"
                    v-model="phone"
                    required>
                  </v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs12>
                  <v-text-field
                    name="location"
                    label="Ubicación"
                    id="location"
                    v-model="location"
                    required
                    ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-checkbox
                    name="branch"
                    label="Establecer gimnasio como sucursal"
                    id="branch"
                    color="blue darken-4"
                    v-model="branch"
                  ></v-checkbox>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-checkbox
                    name="status"
                    label="Activar gimnasio"
                    id="status"
                    color="blue darken-4"
                    v-model="status"
                  ></v-checkbox>
                </v-flex>
              </v-layout>

              <v-card-actions>
                <v-btn
                  :disabled="!formIsValid"
                  :dark="formIsValid"
                  color=" dark blue darken-4"
                  type="submit"
                >Guardar gimnasio</v-btn>
                <router-link to="/gyms" tag="button"><v-btn dark color="red">Cancelar</v-btn></router-link>
              </v-card-actions>
            </form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        // datos del formulario
        branch: false,
        capacity: '',
        dataName: '',
        email: '',
        location: '',
        phone: '',
        private: false,
        status: true,
        // fin de datos del formulario
        menu: false
      }
    },
    computed: {
      formIsValid () {
        return this.capacity !== '' && this.dataName !== '' && this.email !== '' && this.location !== '' && this.phone !== ''
      }
    },
    methods: {
      onCreateGym () {
        if (!this.formIsValid) {
          return
        }

        let gymData = {
          branch: this.branch,
          capacity: Number(this.capacity),
          dataName: this.dataName,
          email: this.email,
          location: this.location,
          phone: this.phone,
          private: this.private,
          status: this.status
        }
        this.$store.dispatch('createGym', gymData)
      }
    }
  }
</script>
