<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card class="elevation-6">
          <v-container>
            <form @submit.prevent="onEditUserPayment">
              <h1 class="title-form" style="blue darken-4">Editar Pago</h1>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                  disabled
                  v-model="userFullname"
                  name="fkIdUser"
                  label="Cliente"
                  id="fkIdUser"
                  ></v-text-field>
                </v-flex>

                <v-flex px-2 xs6>
                  <v-text-field
                  disabled
                  v-model="membershipDataName"
                  name="fkIdMembership"
                  label="Membresía"
                  id="fkIdMembership"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs10>
                  <v-radio-group v-model="loadedUserPayment.paymentType" row>
                    <v-radio :color="'blue darken-4'" label="Efectivo" value="cash" ></v-radio>
                    <v-radio :color="'blue darken-4'" label="Deposito" value="deposit"></v-radio>
                    <v-radio :color="'blue darken-4'" label="Debito" value="debit"></v-radio>
                    <v-radio :color="'blue darken-4'" label="Credito" value="credit"></v-radio>
                    <v-radio :color="'blue darken-4'" label="Transferencia" value="transfer"></v-radio>
                  </v-radio-group>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                  disabled
                  v-model="loadedUserPayment.amount"
                  name="amount"
                  label="Precio de la Membresía"
                  id="fkIdMembership"
                  prefix="$"
                  ></v-text-field>
                </v-flex>
                <v-flex px-2 xs6>
                  <v-text-field name="status" label="Estado del pago" id="status" v-model="loadedUserPayment.status"></v-text-field>
                </v-flex>
              </v-layout>

              <v-card-actions>
                <v-btn :dark="formIsValid" :disabled="!formIsValid" color="blue darken-4" type="submit">Guardar cambios</v-btn>
                <router-link to="/userpayments" tag="button"><v-btn dark color="red">Cancelar</v-btn></router-link>
              </v-card-actions>
            </form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    created () {
      this.$store.dispatch('loadUserPayment', this.id)
    },
    props: ['id'],
    computed: {
      formIsValid () {
        return this.loadedUserPayment.paymentType !== '' && this.loadedUserPayment.status !== ''
      },
      loadedUserPayment () {
        return this.$store.state.loadedUserPayment
      },
      membershipDataName () {
        return this.$store.state.loadedUserPayment.fkIdMembership ? this.loadedUserPayment.fkIdMembership.dataName : ''
      },
      userFullname () {
        return this.$store.state.loadedUserPayment.fkIdUser ? this.loadedUserPayment.fkIdUser.fullname : ''
      }
    },
    methods: {
      onEditUserPayment () {
        if (!this.formIsValid) {
          return
        }

        let userPaymentData = {
          _id: this.loadedUserPayment._id,
          paymentType: this.loadedUserPayment.paymentType,
          status: this.loadedUserPayment.status
        }
        this.$store.dispatch('editUserPayment', userPaymentData)
      }
    }
  }
</script>
