<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card class="elevation-6">
          <v-container>
            <form @submit.prevent="onCreateUserPayment">
              <h1 class="title-form" style="blue darken-4">Nuevo Pago</h1>

              <v-layout row>
                <v-flex px-2 xs6 v-if="loadedCustomers.length > 0">
                  <v-select
                    label="Cliente"
                    autocomplete
                    :loading="loadingUsers"
                    cache-items
                    required
                    :items="itemsUsersAutocomplete"
                    :item-text="'fullname'"
                    :item-value="'_id'"
                    :no-data-text="'No hay resultados'"
                    :rules="[() => fkIdUser != null || 'Tiene que seleccionar un cliente']"
                    :search-input.sync="searchUser"
                    v-model="fkIdUser"
                  ></v-select>
                </v-flex>
                <v-flex px-2 xs6 v-else>
                  <div class="text-xs-center">
                    <v-btn round color="blue darken-4" dark router large :to="{path: '/users/new'}">Registrar un cliente</v-btn>
                  </div>
                </v-flex>
                <v-flex px-2 xs6 v-if="loadedMemberships.length > 0">
                  <v-select
                    label="Membresía"
                    autocomplete
                    :loading="loadingMemberships"
                    cache-items
                    required
                    :items="itemsMembershipsAutocomplete"
                    :item-text="'dataName'"
                    :no-data-text="'No hay resultados'"
                    :rules="[() => fkIdMembership != null || 'Tiene que seleccionar una membresía']"
                    :search-input.sync="searchMembership"
                    v-model="fkIdMembership"
                  ></v-select>
                </v-flex>
                <v-flex px-2 xs6 v-else>
                  <div class="text-xs-center">
                    <v-btn round color="blue darken-4" dark router large :to="{path: '/memberships/new'}">Registrar una membresía</v-btn>
                  </div>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs10>
                  <v-radio-group v-model="paymentType" row>
                    <v-radio :color="'blue darken-4'" label="Efectivo" value="cash" ></v-radio>
                    <v-radio :color="'blue darken-4'" label="Deposito" value="deposit"></v-radio>
                    <v-radio :color="'blue darken-4'" label="Debito" value="debit"></v-radio>
                    <v-radio :color="'blue darken-4'" label="Credito" value="credit"></v-radio>
                    <v-radio :color="'blue darken-4'" label="Transferencia" value="transfer"></v-radio>
                  </v-radio-group>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                  readonly
                  v-model="fkIdMembership.price"
                  name="amount"
                  label="Precio de la Membresía"
                  id="fkIdMembership"
                  prefix="$"
                  ></v-text-field>
                </v-flex>
                <v-flex px-2 xs6>
                  <v-text-field name="status" label="Estado del pago" id="status" v-model="status"></v-text-field>
                </v-flex>
              </v-layout>

              <v-card-actions>
                <v-btn :dark="formIsValid" :disabled="!formIsValid" color="blue darken-4" type="submit">Guardar Pago</v-btn>
                <router-link to="/userpayments" tag="button"><v-btn dark color="red">Cancelar</v-btn></router-link>
              </v-card-actions>
            </form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        // datos del formulario
        fkIdMembership: '',
        fkIdUser: '',
        status: '',
        paymentType: 'cash',
        // fin de datos del formulario
        loadingMemberships: false,
        loadingUsers: false,
        itemsMembershipsAutocomplete: [],
        itemsUsersAutocomplete: [],
        searchMembership: null,
        searchUser: null,
        memberhips: this.$store.getters.loadedMemberships,
        users: this.loadedCustomers
      }
    },
    created () {
      this.$store.dispatch('loadUsers')
      this.$store.dispatch('loadMemberships')
    },
    watch: {
      searchUser (val) {
        val && this.queryUsersSelections(val)
      },
      searchMembership (val) {
        val && this.queryMembershipsSelections(val)
      }
    },
    computed: {
      loadedCustomers () {
        return this.$store.getters.loadedCustomers
      },
      loadedMemberships () {
        return this.$store.getters.loadedMemberships
      },
      formIsValid () {
        return this.fkIdMembership !== null && this.fkIdUser !== '' && this.paymentType !== '' && this.status !== ''
      }
    },
    methods: {
      onCreateUserPayment () {
        if (!this.formIsValid) {
          return
        }

        let userPaymentData = {
          amount: this.fkIdMembership.price,
          fkIdMembership: this.fkIdMembership._id,
          fkIdUser: this.fkIdUser,
          paymentType: this.paymentType,
          status: this.status
        }

        console.log(userPaymentData)

        this.$store.dispatch('createUserPayment', userPaymentData)
      },
      queryUsersSelections (v) {
        this.loadingUsers = true
        // Simulated ajax query
        this.itemsUsersAutocomplete = this.loadedCustomers.filter(e => {
          return (e.fullname || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
        })
        this.loadingUsers = false
      },
      queryMembershipsSelections (v) {
        this.loadingMemberships = true
        // Simulated ajax query
        this.itemsMembershipsAutocomplete = this.loadedMemberships.filter(e => {
          return (e.dataName || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
        })
        this.loadingMemberships = false
      }
    }
  }
</script>
