<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 md10 offset-xs0  offset-md1>
        <v-card class="elevation-6">
          <v-card-title>
            <h1 class="gym-advance">{{ userPayment.fkIdUser.fullname }}</h1>
          </v-card-title>

          <v-card-text>
            <v-layout row>
              <v-flex px-3 xs4>
                <p slot="activator">
                  <v-tooltip bottom>
                    <v-icon medium slot="activator">card_membership</v-icon>
                    Nombre de la membresía
                  </v-tooltip>
                  {{ userPayment.fkIdMembership.dataName }}
                </p>
              </v-flex>
              
              <v-flex px-3 xs4>
                <p slot="activator">
                  <v-tooltip bottom>
                    <v-icon medium slot="activator">attach_money</v-icon>
                    Monto del pago
                  </v-tooltip>
                  {{ userPayment.amount }}
                </p>
              </v-flex>

              <v-flex px-3 xs4>
                <p slot="activator">
                  <v-tooltip bottom>
                    <v-icon medium slot="activator">lightbulb_outline</v-icon>
                    Estado del pago
                  </v-tooltip>
                  {{ userPayment.status }}
                </p>
              </v-flex>
            </v-layout>

            <v-layout row>
              <v-flex px-3 xs4>
                <p slot="activator">
                  <v-tooltip bottom>
                    <v-icon medium slot="activator">date_range</v-icon>
                    Fecha del pago
                  </v-tooltip>
                  {{ getFormattedDate(userPayment.createdAt) }}
                </p>
              </v-flex>

              <v-flex px-3 xs4>
                <p slot="activator">
                  <v-tooltip bottom>
                    <v-icon medium slot="activator">edit</v-icon>
                    Fecha de última modificación
                  </v-tooltip>
                  {{ getFormattedDate(userPayment.updatedAt) }}
                </p>
              </v-flex>
            </v-layout>
          </v-card-text>

          <v-card-actions class="footer-view-user">
          <v-spacer></v-spacer>
            <router-link to="/userpayments" tag="button">
              <v-btn color="primary" dark flat>Volver
                <v-icon dark right>check_circle</v-icon>
              </v-btn>
            </router-link>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import moment from 'moment'

  export default {
    created () {
      this.$store.dispatch('loadUserPayment', this.id)
    },
    props: ['id'],
    computed: {
      userPayment () {
        console.log(this.$store.getters.loadedUserPayment)
        return this.$store.getters.loadedUserPayment
      }
    },
    methods: {
      getFormattedDate (date) {
        if (date) {
          return moment(date).format('DD/MM/YYYY')
        }
        return ''
      }
    }
  }
</script>
