<template>
  <v-app>
    <v-content>
      <v-container fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 text-xs-center>
            <h1 class="gym-advance text-xs-center pt-3" text-justify-center>Gym Advance</h1>
              <v-form @submit.prevent="login">
                <v-text-field prepend-icon="person" name="username" label="Usuario" type="text" v-model="username"></v-text-field>
                <v-text-field prepend-icon="lock" name="password" label="Contraseña" id="password" type="password" v-model="password"></v-text-field>
                <v-btn color="blue darken-4" :dark="formIsValid" :disabled="!formIsValid" type="submit" v-model="userIsAuthenticated">Iniciar sesión</v-btn>
              </v-form>
              <app-alert
                @dismissed="onDismissed"
                v-if="error"
                :text="error">
              </app-alert>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data: () => ({
      username: '',
      password: ''
    }),
    watch: {
      userIsAuthenticated (value) {
        if (value) {
          this.$router.push('/')
        }
      }
    },
    computed: {
      error () {
        return this.$store.getters.error
      },
      formIsValid () {
        return this.username !== '' && this.password !== ''
      },
      userIsAuthenticated () {
        return this.$store.getters.session.isLoggedIn
      }
    },
    methods: {
      login () {
        if (!this.formIsValid) {
          return
        }

        let data = {
          username: this.username,
          password: this.password
        }

        this.$store.dispatch('login', data)
      },
      onDismissed () {
        this.$store.dispatch('clearError')
      }
    }
  }
</script>
