<template>
  <v-container pa-0>
    <v-card class="elevation-6">
          <v-card-title>
            <h1 class="gym-advance">Medidas corporales</h1>
            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn fab small dark color="blue darken-4" slot="activator" @click="addBodyMeasurements">
                <v-icon>add</v-icon>
              </v-btn>
              <span>Agregar medidas</span>
            </v-tooltip>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :items="bodyMeasurements"
            :rows-per-page-items="[10, 20, 40, {'text': 'Todos', 'value': -1}]"
          >
          <template slot="items" slot-scope="props">
            <td>{{ getDate(props.item.createdAt) }}</td>
            <td class="justify-center layout px-0">
              <!-- <v-tooltip bottom>
                <v-btn icon class="mx-0" slot="activator" @click="onLoadUser(props.item._id)">
                  <v-icon color="primary">remove_red_eye</v-icon>
                </v-btn>
                <span>Ver medidas</span>
              </v-tooltip> -->

              <v-tooltip bottom>
                <v-btn icon class="mx-0" slot="activator" @click="openDeleteDialog(props.item._id)">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar medidas</span>
              </v-tooltip>
            </td>
            <td class="text-xs-center">{{ props.item.weight }}</td>
            <td class="text-xs-center">{{ props.item.height }}</td>
            <td class="text-xs-center">{{ props.item.chest }}</td>
            <td class="text-xs-center">{{ props.item.rightBicep }}</td>
            <td class="text-xs-center">{{ props.item.leftBicep }}</td>
            <td class="text-xs-center">{{ props.item.back }}</td>
            <td class="text-xs-center">{{ props.item.shoulder }}</td>
            <td class="text-xs-center">{{ props.item.highAbdomen }}</td>
            <td class="text-xs-center">{{ props.item.middleAbdomen }}</td>
            <td class="text-xs-center">{{ props.item.lowAbdomen }}</td>
            <td class="text-xs-center">{{ props.item.gluteus }}</td>
            <td class="text-xs-center">{{ props.item.rightLeg }}</td>
            <td class="text-xs-center">{{ props.item.leftLeg }}</td>
            <td class="text-xs-center">{{ props.item.rightCalf }}</td>
            <td class="text-xs-center">{{ props.item.leftCalf }}</td>
            <td class="text-xs-center">{{ props.item.rightForearm }}</td>
            <td class="text-xs-center">{{ props.item.leftForearm }}</td>
            <td class="text-xs-center">{{ props.item.waist }}</td>
          </template>
            <v-alert slot="no-data" :value="true" color="info" icon="info">
              El usuario aún no tiene medidas corporales
            </v-alert>
          </v-data-table>
    </v-card>

    <v-dialog v-model="dialog" persistent max-width="400">
      <v-card>
        <v-card-title class="headline">¿Desea eliminar estas medidas?</v-card-title>
        <v-card-text>Esta acción no se puede deshacer.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-4" :disabled="deletingBodyMeasurement" flat="flat" @click.native="closeDeleteDialog">Cancelar</v-btn>
          <v-btn
            color="red"
            :disabled="deletingBodyMeasurement"
            flat="flat"
            @click.native="deleteBodyMeasurement"
            :loading="deletingBodyMeasurement"
          >Aceptar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>

</template>

<script>
  import moment from 'moment'

  export default {
    data: () => ({
      deleteBodyMeasurementId: null,
      dialog: false,
      headers: [
        { text: 'Fecha', align: 'left', value: 'createdAt' },
        { text: 'Acciones', align: 'center', sortable: false },
        { text: 'Peso', align: 'center', sortable: false },
        { text: 'Estatura', align: 'center', sortable: false },
        { text: 'Pecho', align: 'center', sortable: false },
        { text: 'Bicep Der', align: 'center', sortable: false },
        { text: 'Bicep Izq', align: 'center', sortable: false },
        { text: 'Espalda', align: 'center', sortable: false },
        { text: 'Hombro', align: 'center', sortable: false },
        { text: 'Abdomen A', align: 'center', sortable: false },
        { text: 'Abdomen M', align: 'center', sortable: false },
        { text: 'Abdomen B', align: 'center', sortable: false },
        { text: 'Gluteo', align: 'center', sortable: false },
        { text: 'Pierna Der', align: 'center', sortable: false },
        { text: 'Pierna Izq', align: 'center', sortable: false },
        { text: 'Pantorrilla Der', align: 'center', sortable: false },
        { text: 'Pantorrilla Izq', align: 'center', sortable: false },
        { text: 'Antebrazo Der', align: 'center', sortable: false },
        { text: 'Antebrazo Izq', align: 'center', sortable: false },
        { text: 'Cintura', align: 'center', sortable: false }
      ]
    }),
    created () {
      this.$store.dispatch('loadBodyMeasurements', this.user)
    },
    computed: {
      bodyMeasurements () {
        return this.$store.getters.loadedBodyMeasurements
      },
      deletingBodyMeasurement () {
        return this.$store.state.deletingBodyMeasurement
      }
    },
    methods: {
      addBodyMeasurements () {
        this.$router.push('/users/bodymeasurements/new/' + this.user)
      },
      getDate (date) {
        return moment(date).format('DD/MM/YYYY')
      },
      onEditUser (id) {
        this.$router.push('/users/edit/' + id)
      },
      onLoadUser (id) {
        this.$router.push('/users/' + id)
      },
      getTypeUser (type) {
        switch (type) {
          case 'admin':
            return 'Administrador'
          case 'customer':
            return 'Cliente'
          case 'employed':
            return 'Empleado'
          case 'instructor':
            return 'Instructor'
          case 'owner':
            return 'Dueño'
          default:
            return ''
        }
      },
      closeDeleteDialog () {
        this.deleteBodyMeasurementId = null
        this.dialog = false
      },
      openDeleteDialog (id) {
        this.deleteBodyMeasurementId = id
        this.dialog = true
      },
      deleteBodyMeasurement () {
        let payload = {fkIdUser: this.user, bodyMeasurementId: this.deleteBodyMeasurementId}
        this.$store.dispatch('deleteBodyMeasurement', payload)
        this.closeDeleteDialog()
      }
    },
    props: ['user']
  }
</script>

<style>

  .footer-view-user {
    background-color: #dbdbdb;
  }

</style>
