<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card class="elevation-6">
          <v-container>
            <form @submit.prevent="onCreateBodyMeasures">
              <h1 class="gym-advance">Nuevas medidas corporales</h1>

              <v-layout row>
                <v-flex px-2 xs12 md3>
                  <v-text-field
                    label="Peso (Kgs)"
                    v-model="bodyMeasurements.weight"
                    type="number"
                    step=".01"
                    :rules="[rules.number]"
                  ></v-text-field>
                </v-flex>

                <v-flex px-2 xs12 md3>
                  <v-text-field
                  label="Estatura (cms)"
                  v-model="bodyMeasurements.height"
                  type="number"
                  step=".01"
                  :rules="[rules.number]"
                ></v-text-field>
                </v-flex>
              </v-layout>

              <h1 class="title-form">Brazos</h1>

              <v-layout row>
                <v-flex px-2 xs12 md3>
                  <v-text-field
                  label="Antebrazo derecho (cms)"
                  v-model="bodyMeasurements.rightForearm"
                  type="number"
                  step=".01"
                  :rules="[rules.number]"
                  ></v-text-field>
                </v-flex>

                <v-flex px-2 xs12 md3>
                  <v-text-field
                  label="Antebrazo izquierdo (cms)"
                  v-model="bodyMeasurements.leftForearm"
                  type="number"
                  step=".01"
                  :rules="[rules.number]"
                ></v-text-field>
                </v-flex>

                <v-flex px-2 xs12 md3>
                  <v-text-field
                  label="Bicep derecho (cms)"
                  v-model="bodyMeasurements.rightBicep"
                  type="number"
                  step=".01"
                  :rules="[rules.number]"
                  ></v-text-field>
                </v-flex>

                <v-flex px-2 xs12 md3>
                  <v-text-field
                  label="Bicep izquierdo (cms)"
                  v-model="bodyMeasurements.leftBicep"
                  type="number"
                  step=".01"
                  :rules="[rules.number]"
                ></v-text-field>
                </v-flex>
              </v-layout>

              <h1 class="title-form">Piernas</h1>

              <v-layout row>
                <v-flex px-2 xs12 md3>
                  <v-text-field
                    label="Pierna derecha (cms)"
                    v-model="bodyMeasurements.rightLeg"
                    type="number"
                    step=".01"
                    :rules="[rules.number]"
                    ></v-text-field>
                </v-flex>

                <v-flex px-2 xs12 md3>
                  <v-text-field
                  label="Pierna izquierda (cms)"
                  v-model="bodyMeasurements.leftLeg"
                  type="number"
                  step=".01"
                  :rules="[rules.number]"
                  ></v-text-field>
                </v-flex>

                <v-flex px-2 xs12 md3>
                  <v-text-field
                  label="Pantorrilla derecha (cms)"
                  v-model="bodyMeasurements.rightCalf"
                  type="number"
                  step=".01"
                  :rules="[rules.number]"
                ></v-text-field>
                </v-flex>

                <v-flex px-2 xs12 md3>
                  <v-text-field
                    label="Pantorrilla izquierda (cms)"
                    v-model="bodyMeasurements.leftCalf"
                    type="number"
                    step=".01"
                    :rules="[rules.number]"
                    ></v-text-field>
                </v-flex>
              </v-layout>

              <h1 class="title-form">Tronco</h1>

              <v-layout row>
                <v-flex px-2 xs12 md3>
                  <v-text-field
                    label="Espalda (cms)"
                    v-model="bodyMeasurements.back"
                    type="number"
                    step=".01"
                    :rules="[rules.number]"
                    ></v-text-field>
                </v-flex>

                <v-flex px-2 xs12 md3>
                  <v-text-field
                  label="Hombro (cms)"
                  v-model="bodyMeasurements.shoulder"
                  type="number"
                  step=".01"
                  :rules="[rules.number]"
                  ></v-text-field>
                </v-flex>

                <v-flex px-2 xs12 md3>
                  <v-text-field
                    label="Pecho (cms)"
                    v-model="bodyMeasurements.chest"
                    type="number"
                    step=".01"
                    :rules="[rules.number]"
                    ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs12 md3>
                  <v-text-field
                  label="Abdomen alto (cms)"
                  v-model="bodyMeasurements.highAbdomen"
                  type="number"
                step=".01"
                  :rules="[rules.number]"
                ></v-text-field>
                </v-flex>

                <v-flex px-2 xs12 md3>
                  <v-text-field
                    label="Abdomen medio (cms)"
                    v-model="bodyMeasurements.middleAbdomen"
                    type="number"
                    step=".01"
                    :rules="[rules.number]"
                    ></v-text-field>
                </v-flex>

                <v-flex px-2 xs12 md3>
                  <v-text-field
                  label="Abdomen bajo (cms)"
                  v-model="bodyMeasurements.lowAbdomen"
                  type="number"
                step=".01"
                  :rules="[rules.number]"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs12 md3>
                  <v-text-field
                    label="Cintura (cms)"
                    v-model="bodyMeasurements.waist"
                    type="number"
                    step=".01"
                    :rules="[rules.number]"
                    ></v-text-field>
                </v-flex>

                <v-flex px-2 xs12 md3>
                  <v-text-field
                  label="Gluteo (cms)"
                  v-model="bodyMeasurements.gluteus"
                  type="number"
                step=".01"
                  :rules="[rules.number]"
                ></v-text-field>
                </v-flex>
              </v-layout>

              <v-card-actions>
                <v-btn dark color="blue darken-4" type="submit">Guardar medidas</v-btn>
                <router-link to="/users" tag="button"><v-btn dark color="red">Cancelar</v-btn></router-link>
              </v-card-actions>
            </form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      // datos de las medidas
      bodyMeasurements: {
        weight: null,
        height: null,
        chest: null,
        rightBicep: null,
        leftBicep: null,
        back: null,
        shoulder: null,
        highAbdomen: null,
        middleAbdomen: null,
        lowAbdomen: null,
        gluteus: null,
        rightLeg: null,
        leftLeg: null,
        rightCalf: null,
        leftCalf: null,
        rightForearm: null,
        leftForearm: null,
        waist: null
      },
      // mask
      rules: {
        number: (value) => {
          const pattern = /[\d]{1,99}([.]\d{1,99})?/
          return pattern.test(value) || 'Numero inválido'
        }
      }
    }),
    methods: {
      onCreateBodyMeasures () {
        let data = {
          fkIdUser: this.id,
          weight: null,
          height: null,
          chest: null,
          rightBicep: null,
          leftBicep: null,
          back: null,
          shoulder: null,
          highAbdomen: null,
          middleAbdomen: null,
          lowAbdomen: null,
          gluteus: null,
          rightLeg: null,
          leftLeg: null,
          rightCalf: null,
          leftCalf: null,
          rightForearm: null,
          leftForearm: null,
          waist: null
        }
        for (let item in this.bodyMeasurements) {
          data[item] = Number(this.bodyMeasurements[item])
        }

        this.$store.dispatch('createBodyMeasurement', data)
      }
    },
    props: ['id']
  }
</script>
