<template>
  <v-container fill-height v-if="loadingData">
    <v-layout row align-center>
      <v-flex xs12 class="text-xs-center">
        <v-progress-circular indeterminate :size="50" :width="7" color="primary"></v-progress-circular><br><br>
        Cargando datos...
      </v-flex>
    </v-layout>
  </v-container>

  <v-container v-else>
    <v-card class="elevation-6">
      <v-card-title>
        <h1 class="title-form">Usuarios</h1>

        <v-spacer></v-spacer>
        <v-text-field
          append-icon="search"
          label="Buscar usuario"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="users"
        :search="search"
        :rows-per-page-items="[10, 20, 40, {'text': 'Todos', 'value': -1}]"
      >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.fullname }}</td>
        <td class="text-xs-left">{{ props.item.username }}</td>
        <td class="text-xs-left">{{ props.item.email }}</td>
        <td class="text-xs-left">{{ props.item.mainPhone }}</td>
        <td class="text-xs-left">{{ getTypeUser(props.item.role) }}</td>
        <td class="justify-center layout px-0">
          <v-tooltip bottom>
            <v-btn icon class="mx-0" slot="activator" @click="onLoadUser(props.item._id)">
              <v-icon color="primary">remove_red_eye</v-icon>
            </v-btn>
            <span>Ver usuario</span>
          </v-tooltip>

          <v-tooltip bottom>
            <v-btn icon class="mx-0" slot="activator" @click="onEditUser(props.item._id)">
              <v-icon color="primary">edit</v-icon>
            </v-btn>
            <span>Editar usuario</span>
          </v-tooltip>

          <v-tooltip bottom>
            <v-btn icon class="mx-0" slot="activator" @click="openDeleteDialog(props.item._id)">
              <v-icon color="red">delete</v-icon>
            </v-btn>
            <span>Eliminar usuario</span>
          </v-tooltip>

          <v-tooltip bottom>
            <v-btn icon class="mx-0" slot="activator">
              <v-icon color="yellow darken-4">lightbulb_outline</v-icon>
            </v-btn>
            <span>Estado del usuario</span>
          </v-tooltip>
        </td>
      </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Tu búsqueda de "{{ search }}" no tiene resultados.
        </v-alert>
        <v-alert slot="no-data" :value="true" color="info" icon="info">
          No tienes usuarios registrados. Empieza creando uno.
        </v-alert>
      </v-data-table>
    </v-card>

    <v-btn
        :color="'blue darken-4'"
        dark
        fab
        fixed
        bottom
        right
        :to="{path: '/users/new'}"
      >
        <v-icon>add</v-icon>
      </v-btn>

      <v-dialog v-model="dialog" persistent max-width="400">
        <v-card>
          <v-card-title class="headline">¿Desea eliminar este usuario?</v-card-title>
          <v-card-text>Esta acción no se puede deshacer.</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-4" :disabled="deletingUser" flat="flat" @click.native="closeDeleteDialog">Cancelar</v-btn>
            <v-btn
              color="red"
              :disabled="deletingUser"
              flat="flat"
              @click.native="deleteUser"
              :loading="deletingUser"
            >Aceptar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      deleteUserId: null,
      dialog: false,
      search: null,
      headers: [
        { text: 'Nombre Completo', align: 'left', value: 'fullname' },
        { text: 'Usuario', value: 'username' },
        { text: 'Correo', value: 'email' },
        { text: 'Teléfono', value: 'mainPhone' },
        { text: 'Rol', value: 'role' },
        { text: 'Acciones', align: 'center', value: 'actions', sortable: false }
      ]
    }),
    created () {
      this.$store.dispatch('loadUsers')
    },
    computed: {
      deletingUser () {
        return this.$store.state.deletingUser
      },
      loadingData () {
        return this.$store.getters.loadingData
      },
      users () {
        this.dialog = false
        return this.$store.getters.loadedUsers
      }
    },
    methods: {
      onEditUser (id) {
        this.$router.push('/users/edit/' + id)
      },
      onLoadUser (id) {
        this.$router.push('/users/' + id)
      },
      getTypeUser (type) {
        switch (type) {
          case 'customer':
            return 'Cliente'
          case 'employed':
            return 'Empleado'
          case 'instructor':
            return 'Instructor'
          default:
            return ''
        }
      },
      closeDeleteDialog () {
        this.deleteUserId = null
        this.dialog = false
      },
      openDeleteDialog (id) {
        this.deleteUserId = id
        this.dialog = true
      },
      deleteUser () {
        this.$store.dispatch('deleteUser', this.deleteUserId)
      }
    }
  }
</script>

<style>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
