<template>
  <v-container>
    <v-card class="elevation-6">
      <v-card-title>
        <h1 class="gym-advance">{{ gymPayment.fkIdGym.dataName }}</h1>
      </v-card-title>
    </v-card>
  </v-container>
</template>

<script>
  export default {
    data: () => ({

    }),
    props: ['id'],
    computed: {
      gymPayment () {
        return this.$store.getters.loadedGymPayment(this.id)
      }
    }
  }
</script>
