<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card class="elevation-6">
          <v-container>
            <form @submit.prevent="onCreateGymPayment">
              <h1 class="title-form" style="blue darken-4">Nuevo Pago</h1>

              <v-layout row>
                <v-flex px-2 xs6 v-if="loadedGyms.length > 0">
                  <v-select
                    label="Gimnasio"
                    autocomplete
                    :loading="loadingGyms"
                    cache-items
                    required
                    :items="itemsGymsAutocomplete"
                    :item-text="'dataName'"
                    :item-value="'_id'"
                    :no-data-text="'No hay resultados'"
                    :rules="[() => fkIdGym != null || 'Tiene que seleccionar un cliente']"
                    :search-input.sync="searchGym"
                    v-model="fkIdGym"
                  ></v-select>
                </v-flex>
                <v-flex px-2 xs6 v-else>
                  <div class="text-xs-center">
                    <v-btn round color="blue darken-4" dark router large :to="{path: '/gyms/new'}">Registrar un gimnasio</v-btn>
                  </div>
                </v-flex>
                <v-flex px-2 xs6 v-if="loadedPlans.length > 0">
                  <v-select
                    label="Plan"
                    autocomplete
                    :loading="loadingPlans"
                    cache-items
                    required
                    :items="itemsPlansAutocomplete"
                    :item-text="'dataName'"
                    :no-data-text="'No hay resultados'"
                    :rules="[() => fkIdPlan != null || 'Tiene que seleccionar un plan']"
                    :search-input.sync="searchPlan"
                    v-model="fkIdPlan"
                  ></v-select>
                </v-flex>
                <v-flex px-2 xs6 v-else>
                  <div class="text-xs-center">
                    <v-btn round color="blue darken-4" dark router large :to="{path: '/plans/new'}">Crear plan</v-btn>
                  </div>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs10>
                  <v-radio-group v-model="paymentType" row>
                    <v-radio :color="'blue darken-4'" label="Efectivo" value="cash" ></v-radio>
                    <v-radio :color="'blue darken-4'" label="Deposito" value="deposit"></v-radio>
                    <v-radio :color="'blue darken-4'" label="Debito" value="debit"></v-radio>
                    <v-radio :color="'blue darken-4'" label="Credito" value="credit"></v-radio>
                    <v-radio :color="'blue darken-4'" label="Transferencia" value="transfer"></v-radio>
                  </v-radio-group>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex px-2 xs6>
                  <v-text-field
                  readonly
                  v-model="fkIdPlan.price"
                  name="amount"
                  label="Precio del plan"
                  id="fkIdPlan"
                  prefix="$"
                  ></v-text-field>
                </v-flex>
                <v-flex px-2 xs6>
                  <v-text-field name="status" label="Estado del pago" id="status" v-model="status"></v-text-field>
                </v-flex>
              </v-layout>

              <v-card-actions>
                <v-btn :dark="formIsValid" :disabled="!formIsValid" color="blue darken-4" type="submit">Guardar Pago</v-btn>
                <router-link to="/gympayments" tag="button"><v-btn dark color="red">Cancelar</v-btn></router-link>
              </v-card-actions>
            </form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        // datos del formulario
        fkIdPlan: '',
        fkIdGym: '',
        status: '',
        paymentType: 'cash',
        // fin de datos del formulario
        loadingPlans: false,
        loadingGyms: false,
        itemsPlansAutocomplete: [],
        itemsGymsAutocomplete: [],
        searchPlan: null,
        searchGym: null,
        plans: this.$store.getters.loadedPlans,
        gyms: this.loadedGyms
      }
    },
    created () {
      this.$store.dispatch('loadGyms')
      this.$store.dispatch('loadPlans')
    },
    watch: {
      searchGym (val) {
        val && this.queryGymsSelections(val)
      },
      searchPlan (val) {
        val && this.queryPlansSelections(val)
      }
    },
    computed: {
      loadedGyms () {
        return this.$store.getters.loadedGyms
      },
      loadedPlans () {
        return this.$store.getters.loadedPlans
      },
      formIsValid () {
        return this.fkIdPlan !== null && this.fkIdGym !== '' && this.paymentType !== '' && this.status !== ''
      }
    },
    methods: {
      onCreateGymPayment () {
        if (!this.formIsValid) {
          return
        }

        let gymPaymentData = {
          amount: this.fkIdPlan.price,
          fkIdGym: this.fkIdGym,
          fkIdPlan: this.fkIdPlan._id,
          paymentType: this.paymentType,
          status: this.status
        }

        this.$store.dispatch('createGymPayment', gymPaymentData)
      },
      queryGymsSelections (v) {
        this.loadingGyms = true
        // Simulated ajax query
        this.itemsGymsAutocomplete = this.loadedGyms.filter(e => {
          return (e.dataName || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
        })
        this.loadingGyms = false
      },
      queryPlansSelections (v) {
        this.loadingPlans = true
        // Simulated ajax query
        this.itemsPlansAutocomplete = this.loadedPlans.filter(e => {
          return (e.dataName || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
        })
        this.loadingPlans = false
      }
    }
  }
</script>
